html{
  background-color: #fafafa;
}

div.contenidointerno{
  padding-left: 15%;
  padding-right: 15%;
}


div.acercademi {
  position: relative;
  background-color: #fafafa;
  height: 520px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;

}

img.retrato1 {
  height: 100%;
  position: fixed;
  top: 2%;
  right: 7%;
  object-fit: cover;
}

.seccionesa {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
}

.seccionesa1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
  position: fixed;
}

.linea-seccionesa {
  border: none;
  height: 5px;
  background-color: #d6418c;
  width: 25px;
  margin-right: 13px;
  margin-top: 31px;
}

h2.secciona{
  font-weight: 500;
  font-size: 1.4em;
}

.contenedor-secciona {
  width: 100%;
display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 6%;
  padding-left: 0%;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}

.contenedor-secciona2 {
  width: 100%;
display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1%;
  padding-left: 0%;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}


p.presentaciona{
  color: #6B6B6B ;
  line-height: 1.45;
    margin-top: 6%;
    padding-left: 0%;
    z-index: 0;
      position: fixed;
}

p.tagsa1{
  color: #6B6B6B ;
  line-height: 4;
    margin-top: 13.5%;
    padding-left: 0%;

      font-size: 0.9em;
      z-index: 0;
        position: fixed;
}

p.tagsa2{
  color: #6B6B6B ;
  line-height: 4;
    margin-top: 13.5%;
    padding-left: 0%;
right:60%;
      font-size: 0.9em;
      z-index: 0;
        position: fixed;
}

div.lineasfinasa{
  position: fixed;
top: 39.4%;
transform: translateX(-50% -50%);
margin: 0;

}

.linea-finaa {
  border: none;
  height: 0.5px;
  background-color: #6B6B6B;
  margin-bottom: 14%;


}

div.contenidointerno2{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 9%;
}

div.skills {
  clip-path: circle(220% at 50% 390%);
  margin-top: -1%;
  position: relative;
  background-color: #efefef;
  height: 750px;
  width: 100%;
  overflow: hidden;

}
div.skills2 {
margin-top: 10%;
}

.skillcontenedor {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.skilllist {
  flex: 0 0 calc(33.33% - 20px);
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
}

.skillimage {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  opacity: 35%;
}

.pskill {
  color: #6B6B6B;
  font-size: 0.75em;
  line-height: 1.5;
}

.bskill {
  font-weight: 600;
}



div.datos {
  position: relative;
  background-color: #ffd200;
  height: 200px;
  width: 100%;
  overflow: hidden;

}

.bskilld {
  font-size: 4em;
  font-weight: 800;
  margin-bottom: -20px;
  text-align: center;
}

.pskilld {
  font-size: 0.9em;
  color: #000;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}

.datoslements {
  margin-top: 4%;
  display: flex;

  gap: 167px;
}

.dato1, .dato2, .dato3, .dato4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

div.educacion {
  position: relative;
  background-color: #fafafa;
  height: 700px;
  width: 100%;
  overflow: hidden;

}
img.retrato2 {
  height: 140%;
  position: absolute;
  top: -1%;
  right: 9%;
  object-fit: cover;
}

p.presentaciona2{
  color: #6B6B6B ;
  line-height: 1.45;
    margin-top: 2%;

    z-index: 1;
      position: absolute;
}

.linea-finae1 {
  margin-top: 10%;
  margin-left: 0%;
  border: none;
  height: 0.5px;
  background-color: #6B6B6B;
}

.linea-finae2 {
  margin-top: 3%;
  margin-left: 0%;
  border: none;
  height: 0.5px;
  background-color: #6B6B6B;
}

.estudioscontenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  position: relative;
  top: 13%;
  width: 100%;
  box-sizing: border-box;
}

.estudiosnumeros {
font-size: 3em;
  margin-right: 15px;
  opacity: 35%;
}

.pestudios {

    color: #6B6B6B;
    font-size: 0.8em;
    line-height: 1.5;

}

.pestudios2 {

    color: #6B6B6B;
    font-size: 0.8em;
    line-height: 1.5;
margin-left: 2%;
}

.bestudios{
  font-weight: 600;
}

.estudiolist {
  padding-top: 2.5%;
width: calc(36.7% - 2%);
  display: flex;
  align-items: center;

}



h1.citaestudios{
  position: absolute;
  color:  #d4007f;
  font-size: 9em;
  font-weight: 800;

  bottom: -18%;
}

p.citaestudios{

  color: #6B6B6B ;
  line-height: 1.45;
    bottom: 8%;;
    padding-left: 5%;
    z-index: 1;
      position: absolute;
}

div.empleos {
  position: relative;
  background-color: #efefef;
  height: 500px;
  width: 100%;
  overflow: hidden;

}

.contenedor-empleos{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  position: relative;
  margin-top: 5.5%;
  width: 100%;
  box-sizing: border-box;

}

p.tituloempleos{
  color: #6B6B6B;
  font-size: 0.7em;
  line-height: 1.5;
}

b.tituloempleos{
  font-size: 1.2em;
  font-weight: 600;
}

p.añoempleos{
  background-color: #333333;
  color: #fff;
  width: 75px;
  font-size: 0.8em;
  padding: 11px;
  padding-left: 16px;
  border-radius: 15px;
  margin-left: -3px;
}

p.añoempleos2{
  background-color: #333333;
  color: #fff;
  width: 120px;
  font-size: 0.8em;
  padding: 11px;
  padding-left: 16px;
  border-radius: 15px;
  margin-left: -3px;
}

.linea-fina-empleos {
  margin-top: -14%;
  margin-left: 30%;
  margin-bottom: 12%;
  border: none;
  height: 1px;
  background-color: #333333;
}

.linea-fina-empleos2 {
  margin-top: -15.5%;
  margin-left: 30%;
  margin-bottom: 12%;
  border: none;
  height: 1px;
  background-color: #333333;
}

.linea-fina-empleos3 {
  margin-top: -13.2%;
  margin-left: 30%;
  margin-bottom: 12%;
  border: none;
  height: 1px;
  background-color: #333333;
}

.linea-fina-empleos4 {
  margin-top: -15%;
  margin-left: 30%;
  margin-bottom: 12%;
  border: none;
  height: 1px;
  background-color: #333333;
}

p.descripcionempleos{
  color: #6B6B6B;
  font-size: 0.8em;
  line-height: 1.5;
}

.empleo{
  margin-left: 6%;
}

div.premios {
  position: relative;
  background-color: #d4007f;
  height: 500px;
  width: 100%;
  overflow: hidden;

}

img.retrato3 {
  height: 270%;
  position: absolute;
  top: -74%;
  left: -5%;
  object-fit: cover;
}

p.parrafo-premios{
  color: #fff ;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5;
    margin-top: 3%;
   left: 51.5%;
    z-index: 1;
      position: absolute;
}


.numeropremio {
font-size: 3em;
  margin-right: 10px;
  opacity: 20%;
  background-color: #fff;
  padding: 5px;
  padding-right: 490px;
  border-radius: 20px;
}
.numeropremio1 {
font-size: 3em;
  margin-right: 10px;
  margin-left: -10px;
  opacity: 20%;
  background-color: #fff;
  padding: 5px;
  padding-right: 490px;
  padding-left: 14px;
  border-radius: 20px;
}

.ppremios {
    color: #fff;
    font-size: 0.9em;
    line-height: 1.3;
margin-left: -490px;
opacity: 90%;
font-weight: 300;
}

.bpremios{
  font-weight: 600;
}

.premioslista{
  position: absolute;
  display: flex;
  align-content: center;
  width: 600px;
  top: 52%;
  left: 51%;
}

.premio1 {
  position: absolute;
  margin-left: 2%;
  margin-top: -13%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.premio2 {
  position: absolute;
  margin-left: 0.25%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.premio3 {
  position: absolute;
  margin-left: 0.25%;
  margin-top: 17%;
  display: flex;
  align-items: center;
  z-index: 5;
}
