html{
  background-color: #fafafa;
   scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    position: relative;
      font-weight: 400;
}

div.contenidointerno{
  padding-left: 15vw;
  padding-right: 15vw;
}


div.acercademi {
  position: relative;
  background-color: #fafafa;
  height: 32vw;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;

}

img.retrato1 {
  width: 45vw;
  height: auto;
  position: fixed;
  right: 7vw;
  top: 3vw;
}


.contenedor-seccion {
  width: 100%;
display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 6vw;
  padding-left: 0%;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}

@media (max-width: 600px) {
    .contenedor-seccion {
    margin-top: 4vw;
    }
}

.contenedor-seccion2 {
  width: 100%;
display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1vw;
  padding-left: 0%;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
}

.secciones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
}

.secciones1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
  position: fixed;
}

.linea-secciones {
  border: none;
  height: 0.3vw;
  background-color: #d6418c;
  width: 1.7vw;
  margin-right: 1vw;
  margin-top: 1.7vw;
}

@media (max-width: 600px) {
    .linea-secciones {
      height: 0.4vw;
      width: 2.5vw;
      margin-right: 1vw;
    }
}

h2.seccion{
  font-weight: 500;
  font-size: 1.3vw;
}

@media (max-width: 600px) {
    h2.seccion {
      margin-top: 0.5vw;
        font-size: 2.5vw;
    }
}


p.presentaciona{
  color: #6B6B6B ;
  line-height: 1.4;
    margin-top: 6vw;
    padding-left: 0%;
    z-index: 0;
      position: fixed;
      font-size: 1vw;
}

@media (max-width: 600px) {
    p.presentaciona {
      line-height: 2vw;
        font-size: 1.7vw;
        margin-top: 5vw;
    }
}


p.tagsa1{
  color: #6B6B6B ;
  line-height: 4;
    margin-top: 13.5vw;
    padding-left: 0%;
      font-size: 0.9vw;
      z-index: 0;
        position: fixed;
}

@media (max-width: 600px) {
    p.tagsa1 {
        font-size: 1.3vw;
        margin-top: 14vw;
        line-height: 3;
    }
}

p.tagsa2{
  color: #6B6B6B ;
  line-height: 4;
    margin-top: 13.5vw;
    padding-left: 0%;
     right:60vw;
      font-size: 0.9vw;
      z-index: 0;
        position: fixed;
}

@media (max-width: 600px) {
    p.tagsa2 {
        font-size: 1.3vw;
        margin-top: 14vw;
        left: 26vw;
          line-height: 3;

    }
}

div.lineasfinasa{
  position: fixed;
top: 39.4vw;
transform: translateX(-50% -50%);
margin: 0;

}

.linea-finaa {
  border: none;
  height: 0.5px;
  background-color: #6B6B6B;
  margin-bottom: 14%;


}

div.contenidointerno2{
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 9vw;
}

div.skills {
  clip-path: circle(220% at 50% 390%);
  margin-top: -1vw;
  position: relative;
  background-color: #efefef;
  height: 44.5vw;
  width: 100%;
  overflow: hidden;
}


@media (max-width: 600px) {
  div.skills {
  height: 81vw;
  clip-path: circle(220% at 50% 250%);
    }
}

div.skills2 {
margin-top: 10vw;
}

.skillcontenedor {
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.skilllist {
  flex: 0 0 calc(33.33% - 10%);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;

}


@media (max-width: 600px) {
  .skilllist {
  flex: 0 0 calc(50% - 1.1%);
    }
}

.skillimage {
  width: 3.4vw;
  height: 3.4vw;
  margin-right: 1vw;
  opacity: 35%;
}

@media (max-width: 600px) {
  .skillimage {
    width: 6vw;
    height: 6vw;
    }
}

.pskill {
  color: #6B6B6B;
  font-size: 0.75vw;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .pskill {
    font-size: 1.3vw;
    line-height: 1.5;
    }
}

.bskill {
  font-weight: 600;
}


div.datos {
  position: relative;
  background-color: #ffd200;
  height: 12vw;
  width: 100%;
  overflow: hidden;
}

.bskilld {
  font-size: 4vw;
  font-weight: 800;
  margin-bottom: -1.5vw;
  text-align: center;
}

.pskilld {
  font-size: 0.9vw;
  color: #000;
  line-height: 1.5;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
}

@media (max-width: 1500px) {
  .pskilld {
  margin-top: -0.7vw;
    }
}

@media (max-width: 1000px) {
  .pskilld {
  margin-top: -1.2vw;
    }
}

@media (max-width: 600px) {
  .pskilld {
  margin-top: -2.2vw;
    }
}

.datoslements {
  margin-top: 3vw;
  display: flex;
  gap: 10vw;
}

.dato1, .dato2, .dato3, .dato4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

div.educacion {
  position: relative;
  background-color: #fafafa;
  height: 42vw;
  width: 100%;
  overflow: hidden;

}
img.retrato2 {
  height: 60vw;
  position: absolute;
  top: -1%;
  right: 9%;
  object-fit: cover;
}

p.presentaciona2{
  color: #6B6B6B ;
  line-height: 1.45;
    margin-top: 2vw;
font-size: 0.95vw;
    z-index: 1;
      position: absolute;
}

.linea-finae1 {
  margin-top: 7vw;
  margin-left: 0%;
  border: none;
  height: 0.2vh;
  background-color: #6B6B6B;
  width: 42vw;
}

.linea-finae2 {
  margin-top: 2vw;
  margin-left: 0%;
  border: none;
  height: 0.2vh;
  background-color: #6B6B6B;
  width: 42vw;
}

.estudioscontenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  position: relative;
  top: 0vw;
  width: 100%;
  box-sizing: border-box;
}

.estudiosnumeros {
font-size: 3vw;
  margin-right: 0.75vw;
  opacity: 35%;
}

.pestudios {

    color: #6B6B6B;
    font-size: 0.76vw;
    line-height: 1.5;

}

.pestudios2 {

    color: #6B6B6B;
    font-size: 0.76vw;
    line-height: 1.5;
margin-left: 2%;
}

.bestudios{
  font-weight: 600;
}

.estudiolist {
  padding-top: 2vw;
width: calc(36.7% - 2%);
  display: flex;
  align-items: center;

}

h1.citaestudios{
  position: absolute;
  color:  #d4007f;
  font-size: 8.6vw;
  font-weight: 800;

  bottom: -18%;
}

p.citaestudios{
font-size: 1vw;
  color: #6B6B6B ;
  line-height: 1.45;
    bottom: 3.2vw;;
    padding-left: 5vw;
    z-index: 1;
      position: absolute;
}

div.trayectoria {
  position: relative;
  background-color: #efefef;
  height: 30vw;
  width: 100%;
  overflow: hidden;

}

.contenedor-empleos{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  position: relative;
  margin-top: 3.5vw;
  width: 100%;
  box-sizing: border-box;

}

p.tituloempleos{
  color: #6B6B6B;
  font-size: 0.69vw;
  line-height: 1.5;
}

b.tituloempleos{
  font-size: 0.8vw;
  font-weight: 600;
}

p.añoempleos{
  background-color: #333333;
  color: #fff;
  width: 5vw;
  font-size: 0.8vw;
  padding: 0.6vw;
  padding-left: 1vw;
  border-radius: 0.8vw;
  margin-left: -0.3vw;
}

p.añoempleos2{
  background-color: #333333;
  color: #fff;
  width: 7vw;
  font-size: 0.8vw;
  padding: 0.6vw;
  padding-left: 1vw;
  border-radius: 0.8vw;
  margin-left: -0.3vw;
}

.linea-fina-empleos {
  margin-top: -1.9vw;
  margin-left: 3vw;
  margin-bottom: 1.5vw;
  border: none;
  height: 0.1vh;
  background-color: #333333;
  width: 9vw;
}

.linea-fina-empleos2 {
  margin-top: -1.9vw;
  margin-left: 3vw;
  margin-bottom: 1.5vw;
  border: none;
  height: 0.1vh;
  background-color: #333333;
  width: 9vw;
}

.linea-fina-empleos3 {
  margin-top: -1.8vw;
  margin-left: 3vw;
  margin-bottom: 1.5vw;
  border: none;
  height: 0.1vh;
  background-color: #333333;
  width: 9vw;
}

.linea-fina-empleos4 {
  margin-top: -1.8vw;
  margin-left: 3vw;
  margin-bottom: 1.5vw;
  border: none;
  height: 0.1vh;
  background-color: #333333;
  width: 9vw;
}

p.descripcionempleos{
  color: #6B6B6B;
  font-size: 0.77vw;
  line-height: 1.5;
}

.empleo{
  margin-left: 4vw;
}

div.premios {
  position: relative;
  background-color: #d4007f;
  height: 30vw;
  width: 100%;
  overflow: hidden;

}

img.retrato3 {
  height: 77vw;
  position: absolute;
  top: -20.5vw;
  left: -5vw;
  object-fit: cover;
}

p.parrafo-premios{
  color: #fff ;
  font-size: 1.28vw;
  font-weight: 300;
  line-height: 1.5;
    margin-top: 3vw;
   left: 51.5vw;
    z-index: 1;
      position: absolute;
}


.numeropremio {
font-size: 3vw;
  margin-right: 1vw;
  opacity: 20%;
  background-color: #fff;
  padding: 0.2vw;
  padding-right: 29.5vw;
  border-radius: 1vw;
}
.numeropremio1 {
font-size: 3vw;
  margin-right: 1vw;
  margin-left: -0.5vw;
  opacity: 20%;
  background-color: #fff;
  padding: 0.2vw;
  padding-right: 29.5vw;
  padding-left: 0.6vw;
  border-radius: 1vw;
}

.ppremios {
    color: #fff;
    font-size: 0.9vw;
    line-height: 1.3;
margin-left: -30vw;
opacity: 90%;
font-weight: 300;
}

.bpremios{
  font-weight: 600;
}

.premioslista{
  position: absolute;
  display: flex;
  align-content: center;
  width: 35vw;
  top: 16vw;
  left: 51vw;
}

.premio1 {
  position: absolute;
  margin-left: 0.7vw;
  margin-top: -4.5vw;
  display: flex;
  align-items: center;
  z-index: 5;
}

.premio2 {
  position: absolute;
  margin-left: 0.1vw;
  margin-top: 0.8vw;
  display: flex;
  align-items: center;
  z-index: 5;
}

.premio3 {
  position: absolute;
  margin-left: 0.1vw;
  margin-top: 6.2vw;
  display: flex;
  align-items: center;
  z-index: 5;
}
