.section-title {
  display: flex;
  align-items: center;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  margin-bottom: 25px;
}

.section-title .dash {
  color: #d4007f;
  margin-right: 10px;
  margin-top: -3px;
  font-size: clamp(18pt, 2vw, 36pt);
  font-family: 'montserrat black', sans-serif;
}

.section-title .title-text {
  color: #30302f;
}

.about-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 50vh;
  z-index: -10;
}

.about-left, .about-right {
  position: fixed;
  top: 350px;
  transform: translateY(-50%);
  height: auto;
}

.about-left {
  position: fixed;
  top: clamp(200px, 40vh, 400px);
  left: 5%;
  width: clamp(300px, 40vw, 600px);
  z-index: -90;
}

.about-right {
  position: fixed;
  top: clamp(250px, 45vh, 450px);
  right: 5%;
  width: clamp(300px, 30vw, 400px);
  z-index: -100;
}

.about-right img {
  width: clamp(400px, 60vw, 700px);
  margin-left: clamp(-200px, -20vw, -280px);
}

.about-description {
  font-size: clamp(12pt, 1vw, 30pt);
  margin-bottom: 40px;
  line-height: 1.5;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
}

.info-row {
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 10px;
}

.info-row .label {
  font-family: 'montserrat regular', sans-serif;
  text-align: left;
}

.info-row .value {
  text-align: left;
  margin-left: -30px;
}

.skills-section {
  position: relative;
  width: 100%;
  background-color: #efeff0;
  clip-path: circle(1800px at 50% 1900px);
  -webkit-clip-path: circle(1800px at 50% 1900px);
}

.skills-container {
  padding-top: 350px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 50px;
  margin-top: 40px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.skill-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  opacity: 50%;
  margin-top: -3px;
}

.skill-text h4 {
  margin: 0;
  font-family: 'montserrat medium', sans-serif;
  font-size: 10pt;
  color: #30302f;
}

.skill-text p {
  margin: 5px 0 0;
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  color: #30302f;
}

.stats-section {
  display: flex;
  width: 100%;
  background-color: #ffd200;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  box-sizing: border-box;
}

.stats-container {
  display: flex;
  width: 190%;
  justify-content: space-around;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat-number {
  font-family: 'montserrat black', sans-serif;
  font-size: clamp(36pt, 5vw, 80pt);
  color: #30302f;
  margin-bottom: 0px;
}

.stat-title {
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
  letter-spacing: 1px;
}

.education-section {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: -1;
  overflow: hidden;
  margin-bottom: -200px;
}

.education-left {
  margin-left: 5%;
  flex: 1;
  padding: 50px 0px;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}

.education-description {
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
  margin-bottom: 30px;
}

.divider {
  border: none;
  height: 1px;
  background-color: #bbb;
  margin: 30px 0;
}

.education-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.education-item {
  display: flex;
  align-items: flex-start;
}

.edu-number {
  font-family: 'montserrat bold', sans-serif;
  font-size: clamp(40pt, 4vw, 60pt);
  margin-right: 15px;
  color: #727272;
  margin-top: -13px;
}

.edu-text {
  display: flex;
  flex-direction: column;
}

.edu-title {
  font-family: 'montserrat medium', sans-serif;
  font-size: 10pt;
  color: #727272;
  line-height: 1.5;
}

.edu-line {
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  color: #727272;
  line-height: 1.5;
}

.edu-cita {
  font-family: 'montserrat black', sans-serif;
  font-size: 70pt;
  margin-right: 15px;
  color: #d4007f;
  margin-top: -20px;
}

.education-final {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.edu-title2 {
  font-family: 'montserrat medium', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #727272;
}

.edu-line2 {
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #727272;
}

.education-right {
  flex: 1;
  position: relative;
  overflow: visible;
  margin-right: 5%;
}

.education-right img {
  position: relative;
  top: 0;
  width: 650px;
  object-fit: contain;
  z-index: 1;
  clip-path: inset(0 0 130px 0);
  -webkit-clip-path: inset(0 0 130px 0);
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 0px;
}

.trajectory-section {
  width: 100%;
  background-color: #efeff0;
  padding: 60px 0;
  box-sizing: border-box;
  height: 550px;
  padding-top: 100px;
  z-index: 1;
}

.trajectory-container {
  width: 90%;
  margin: 0 auto;
}

.trajectory-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 100px;
}

.trajectory-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.traj-text1 {
  font-family: 'montserrat semibold', sans-serif;
  font-size: 10pt;
  color: #727272;
  line-height: 1;
}

.traj-text2 {
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  color: #727272;
  line-height: 1;
}

.traj-text {
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  color: #727272;
  line-height: 1.5;
}

.traj-date-line {
  display: flex;
  align-items: center;
}

.traj-date {
  background-color: #30302f;
  color: #ffffff;
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  padding: 6px 14px;
  border-radius: 15px;
  white-space: nowrap;
}

.traj-line {
  height: 2px;
  background-color: #30302f;
  flex: 1;
  margin-left: 0;
  position: relative;
  top: 0;
}

.traj-date2 {
  background-color: #d4007f;
  color: #ffffff;
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  padding: 6px 14px;
  border-radius: 15px;
  white-space: nowrap;
}

.traj-line2 {
  height: 2px;
  background-color: #d4007f;
  flex: 1;
  margin-left: 0;
  position: relative;
  top: 0;
}

.awards-section {
  position: relative;
  width: 100%;
  background-color: #d4007f;
  padding: 80px 0;
  box-sizing: border-box;
  min-height: 500px;
}

.awards-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.awards-left img {
  height: 1200px;
  object-fit: cover;
  pointer-events: none;
  margin-top: -300px;
  margin-left: -120px;
}

.awards-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.awards-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  z-index: 0;
}

.awards-text {
  color: #ffffff;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(14pt, 1.3vw, 24pt);
  line-height: 1.4;
}

.awards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.award-item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px 15px 10px 80px;
  box-sizing: border-box;
}

.award-number {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-family: 'montserrat black', sans-serif;
  font-size: 40pt;
  color: #000;
  opacity: 30%;
}

.award-title {
  font-family: 'montserrat semibold', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #fff;
}

.award-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
}

.award-text {
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #fff;
  line-height: 1.3;
}

.awards-text b {
  font-family: 'montserrat bold', sans-serif;
}

@media screen and (max-width: 1100px) {
  .about-right img {
    opacity: 50%;
  }
  .trajectory-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 890px) {
  .section-title {
    font-size: 4vw;
  }
  .section-title .dash {
    font-size: 4vw;
  }
  .about-section {
    min-height: calc(300px + (600 - 300) * ((120vw - 400px) / (1200 - 320)));
  }
  .about-left, .about-right {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .about-left {
    top: 10vh;
    transform: translate(-50%, 0);
  }
  .about-right {
    top: 0;
    bottom: 5vh;
    transform: translate(-50%, 0);
  }
  .about-right img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
    opacity: 15%;
  }
  .about-description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    margin-top: 30px;
  }
  .about-info {
    display: none;
  }
  .info-row {
    display: grid;
    grid-template-columns: 150px 1fr;
    column-gap: 15px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .info-row .label {
    text-align: left;
    width: 100%;
    font-size: 4vw;
  }
  .info-row .value {
    text-align: left;
    width: 100%;
    margin-left: 0;
    font-size: 4vw;
  }
  .skills-section {
    margin-top: 0vw;
  }
  .skills-container {
    padding-top: 200px;
  }
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .skill-item {
    gap: 20px;
    margin-bottom: 50px;
  }
  .skill-item img {
    width: 100px;
    height: 100px;
  }
  .skill-text h4 {
    font-size: 2.5vw;
  }
  .skill-text p {
    font-size: 2.5vw;
  }
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    gap: 40px 0;
  }
  .stat {
    width: 50%;
    padding: 0 20px;
  }
  .stat-number {
    font-size: 15vw;
  }
  .stat-title {
    font-size: 4vw;
  }
  .education-section {
    flex-direction: column;
    min-height: auto;
    padding: 40px 0;
  }
  .education-left {
    flex: none;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    order: 1;
    padding-top: 50px;
  }
  .education-description {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 70px;
  }
  .education-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
  }
  .education-item {
    width: 90%;
    justify-content: center;
  }
  .edu-number {
    font-family: 'montserrat extrabold', sans-serif;
    font-size: 14vw;
    margin-top: -27px;
    padding-top: 30px;
  }
  .edu-text {
    width: 70%;
    padding-top: 30px;
  }
  .edu-title {
    font-size: 2.5vw;
  }
  .edu-line {
    font-size: 2.5vw;
  }
  .education-final {
    width: 110%;
    justify-content: center;
    margin-left: -30px;
  }
  .edu-cita {
    padding-top: 70px;
    font-size: 23vw;
    margin-top: -2vw;
  }
  .edu-title2 {
    font-size: 4vw;
    margin-top: -1vw;
    padding-top: 70px;
  }
  .edu-line2 {
    font-size: 4vw;
  }
  .education-right {
    flex: none;
    width: 100%;
    position: relative;
    overflow: visible;
    order: 2;
    margin-top: 60px;
    height: auto;
  }
  .education-right img {
    position: relative;
    top: -25vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
    clip-path: none;
    -webkit-clip-path: none;
    display: block;
    margin: 0 auto;
  }
  .trajectory-section {
    padding-bottom: 680px;
    margin-top: -70vw;
  }
  .trajectory-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .traj-text1 {
    font-size: 2.5vw;
  }
  .traj-text2 {
    font-size: 2.5vw;
  }
  .traj-text {
    font-size: 2.5vw;
    line-height: normal;
  }
  .traj-date-line {
    font-size: 2.5vw;
  }
  .traj-date {
    font-size: 2.5vw;
  }
  .awards-section {
    padding: 60px 0;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .awards-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .awards-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 50%;
  }
  .awards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  .awards-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .awards-text {
    font-size: clamp(16pt, 4vw, 20pt);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
  }
  .awards-list {
    width: 100%;
  }
  .award-item {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px 20px 20px 90px;
    width: 100%;
    backdrop-filter: blur(5px);
  }
  .award-number {
    left: 20px;
    font-size: 9vw;
    opacity: 40%;
  }
  .award-title {
    font-size: clamp(14pt, 3.5vw, 18pt);
    text-align: left;
    margin-bottom: 5px;
  }
  .award-texts {
    margin-left: 40px;
  }
  .award-text {
    font-size: clamp(12pt, 3vw, 16pt);
    line-height: 1.4;
    text-align: left;
  }
}

@media screen and (max-width: 630px) {
  .edu-number {
    font-size: 16vw;
    margin-top: -20px;
  }
  .edu-cita {
    padding-top: 70px;
  }
  .edu-title2 {
    font-size: 4vw;
    margin-top: -2vw;
    padding-top: 70px;
  }
  .trajectory-section {
    height: 930px;
  }
  .trajectory-grid {
    grid-template-columns: 1fr;
  }
  .award-number {
    font-size: 9vw;
  }
  .award-texts {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills-container {
    padding-top: 150px;
    width: 80%;
  }
  .skill-text {
    display: none;
  }
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .education-description {
    padding-bottom: 30px;
  }
  .education-right img {
    top: -130px;
  }
  .edu-cita {
    padding-top: 20px;
  }
  .edu-title2 {
    font-size: 4vw;
    margin-top: -3.5vw;
    padding-top: 20px;
  }
  .trajectory-section {
    height: 870px;
  }
  .award-texts {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .education-description {
    padding-bottom: 20px;
  }
  .edu-cita {
    padding-top: 0px;
  }
  .edu-title2 {
    font-size: 4vw;
    margin-top: -5vw;
    padding-top: 0px;
  }
}
