.about-section {
  margin: 0 auto;
  min-height: 50vh;
  position: relative;
  width: 100%;
  z-index: -10;
}

.about-left, .about-right {
  height: auto;
  position: fixed;
  top: 350px;
  transform: translateY(-50%);
}

.about-left {
  left: 8%;
  position: fixed;
  top: clamp(200px, 40vh, 400px);
  width: clamp(400px, 40vw, 700px);
  z-index: -90;
}

.about-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 2vw;
}

.about-title .about-text {
  color: #000000;
}

.point {
  color: #e6007d;
}

.about-description {
  margin-bottom: 40px;
}

.about-info {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.info-row {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 160px 1fr;
}

.info-row .label {
  text-align: left;
}

.info-row .value {
  margin-left: -30px;
  text-align: left;
}

.about-right {
  position: fixed;
  right: 17%;
  top: clamp(300px, 55vh, 500px);
  width: clamp(300px, 30vw, 400px);
  z-index: -100;
}

.about-right img {
  margin-left: clamp(-200px, -20vw, -280px);
  width: clamp(500px, 800px, 1000px);
  transition: all 0.5s ease-in-out;
}

.skills-section {
  background-color: #f7f7f7;
  clip-path: circle(1800px at 50% 1900px);
  position: relative;
  width: 100%;
  -webkit-clip-path: circle(1800px at 50% 1900px);
  z-index: -10;
}

.skills-container {
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 120px;
  width: 95%;
}

.skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px auto;
  font-size: 5vw;
}

.skills-title .skills-text {
  color: #e1e1e1;
}

.skills-grid {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  margin-top: 40px;
}

.skill-item {
  align-items: flex-start;
  display: flex;
  gap: 15px;
}

.skill-item img {
  margin-top: -5px;
  object-fit: contain;
  opacity: 50%;
  width: 70px;
  height: 70px;
}

.skill-text h4 {
  color: #000;
  font-size: clamp(12pt, 1vw, 30pt);
  margin: 0px auto;
  color: #727272;
}

.skill-text p {
  color: #000;
  font-size: clamp(10pt, 0.5vw, 20pt);
  margin: 5px 0 0;
  color: #727272;
}

.education-title-section {
  align-items: center;
  background-color: #fbba00;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}

.education-title-container {
  display: flex;
  justify-content: space-around;
  width: 190%;
}

.education-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}

.education-title .education-text {
  color: #e3a600;
}

.education-section {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  margin-bottom: -200px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: -1;
}

.education-left {
  box-sizing: border-box;
  flex: 1;
  margin-left: 2.5%;
  padding: 110px 0px;
  position: relative;
  z-index: -1;
}

.education-description {
  color: #727272;
  margin-bottom: 30px;
}

.divider {
  background-color: #bbb;
  border: none;
  height: 1px;
  margin: 40px 0;
}

.education-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr 2fr;
}

.education-item {
  align-items: flex-start;
  display: flex;
}

.edu-number {
  color: #727272;
  font-family: 'montserrat extrabold', sans-serif;
  font-size: clamp(50pt, 5.5vw, 70pt);
  margin-top: -5.1%;
  margin-right: 10px;
  width: 70px;
}

.edu-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edu-title {
  color: #727272;
  font-family: 'montserrat semibold', sans-serif;
}

.edu-line {
  color: #727272;
  font-size: 10pt;
  line-height: 1.5;
}

.edu-cita {
  color: #e6007d;
  font-family: 'montserrat black', sans-serif;
  font-size: 70pt;
  margin-right: 15px;
  margin-top: -20px;
}

.education-final {
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}

.edu-title2 {
  color: #727272;
  font-family: 'montserrat semibold', sans-serif;
}

.edu-line2 {
  color: #727272;
}

.education-right {
  margin-right: -12%;
  overflow: visible;
  position: relative;
  flex: 1;
}

.education-right img {
  clip-path: inset(0 0 130px 0);
  display: block;
  margin: 0;
  margin-top: 0px;
  object-fit: contain;
  padding: 0;
  position: relative;
  top: 0;
  width: 650px;
  -webkit-clip-path: inset(0 0 130px 0);
  z-index: 1;
}

.trajectory-section {
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 100px;
  width: 100%;
  z-index: 1;
}

.trajectory-container {
  margin: 0 auto;
  width: 95%;
}

.trajectory-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}

.trajectory-title b {
  color: #e6007d;
}

.trajectory-title .trajectory-text {
  color: #000000;
}

.trajectory-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}

.trajectory-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.traj-text1 {
  color: #727272;
  height: 2.5vw;
}

.traj-text2 {
  color: #727272;
  font-size: clamp(10pt, 0.8vw, 25pt);
  height: 2.5vw;
}

.traj-text {
  color: #727272;
  font-size: clamp(10pt, 0.8vw, 25pt);
  line-height: 1.5;
}

.traj-date-line {
  align-items: center;
  display: flex;
}

.traj-date {
  background-color: #000000;
  border-radius: 15px;
  color: #ffffff;
  font-size: clamp(10pt, 0.8vw, 25pt);
  padding: 6px 14px;
  white-space: nowrap;
}

.traj-line {
  background-color: #000000;
  flex: 1;
  height: 2px;
  margin-left: 0;
  position: relative;
  top: 0;
}

.traj-date2 {
  background-color: #e6007d;
  border-radius: 15px;
  color: #ffffff;
  padding: 6px 14px;
  white-space: nowrap;
  font-size: clamp(10pt, 0.8vw, 25pt);
}

.traj-line2 {
  background-color: #e6007d;
  flex: 1;
  height: 2px;
  margin-left: 0;
  position: relative;
  top: 0;
}

.awards-section {
  background-color: #e6007d;
  box-sizing: border-box;
  padding: 80px 0;
  position: relative;
  width: 100%;
  z-index: -10;
}

.awards-left {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.awards-left img {
  margin-left: -120px;
  margin-top: -300px;
  height: 1200px;
  object-fit: cover;
  pointer-events: none;
}

.awards-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  position: relative;
  width: 90%;
  z-index: 1;
}

.awards-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  z-index: 0;
}

.awards-text {
  color: #ffffff;
  font-size: clamp(14pt, 1.3vw, 24pt);
  line-height: 1.4;
}

.awards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.award-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px 15px 10px 80px;
  position: relative;
}

.award-number {
  color: #000000;
  font-family: 'montserrat black', sans-serif;
  font-size: 40pt;
  left: 15px;
  opacity: 20%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.award-title {
  color: #ffffff;
}

.award-texts {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.award-text {
  color: #ffffff;
  line-height: 1.3;
}

@media screen and (max-width: 1100px) {
  .about-right img {
    opacity: 50%;
  }

    .skills-grid {
  grid-template-columns: repeat(2, 1fr);
}

  .trajectory-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 890px) {

  .about-section {
    min-height: calc(300px + (600 - 300) * ((120vw - 400px) / (1200 - 320)));
  }

  .about-left, .about-right {
    display: flex;
    flex-direction: column;
    left: 50%;
    margin: 0;
    margin-top: 50px;
    position: fixed;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
  }

  .about-left {
    top: 10vh;
    transform: translate(-50%, 0);
  }

  .about-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 6vw;
  }
   
  .about-right {
    bottom: 5vh;
    top: 0;
    transform: translate(-50%, 0);
  }

  .about-right img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    opacity: 15%;
    width: 100%;
  }

  .about-description {
    font-size: 4vw;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  .about-info {
    display: none;
  }

  .info-row {
    column-gap: 15px;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .info-row .label {
    font-size: 4vw;
    text-align: left;
    width: 100%;
  }

  .info-row .value {
    font-size: 4vw;
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .skills-section {
    margin-top: 0vw;
  }

  .skills-title {
  margin: 0px auto;
  font-size: 10vw;
}

  .skills-container {
    padding-top: 200px;
  }

  .skills-grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-item {
    gap: 10px;
    margin-bottom: 20px;
  }

  .skill-item img {
    height: 100px;
    width: 100px;
  }

  .skill-text h4 {
    font-size: 2.5vw;
  }

  .skill-text p {
    font-size: 2.5vw;
  }

  .education-title {
  font-size: 8vw;
}

  .education-section {
    flex-direction: column;
    min-height: auto;
    padding: 40px 0;
  }

  .education-left {
    flex: none;
    margin: 0 auto;
    order: 1;
    padding: 0;
    padding-top: 50px;
    width: 90%;
  }

  .education-description {
    font-size: 4vw;
    padding-bottom: 70px;
    text-align: center;
  }

  .education-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .education-item {
    justify-content: center;
    width: 90%;
  }

  .edu-number {
    font-family: 'montserrat extrabold', sans-serif;
    font-size: 14vw;
    margin-top: -3%;
    padding-top: 30px;
  }

  .edu-text {
    padding-top: 30px;
    width: 70%;
    margin: 0 5px;
  }

  .edu-title {
    font-size: 4vw;
  }

  .edu-line {
    font-size: 4vw;
  }

  .education-final {
    justify-content: center;
    margin-left: -30px;
    width: 110%;
  }

  .edu-cita {
    font-size: 23vw;
    margin-top: -2vw;
    padding-top: 70px;
  }

  .edu-title2 {
    font-size: 3.5vw;
    margin-top: -1vw;
    padding-top: 70px;
  }

  .edu-line2 {
    font-size: 3.5vw;
  }

  .education-right {
    flex: none;
    height: auto;
    margin-top: 60px;
    order: 2;
    overflow: visible;
    position: relative;
    width: 100%;
  }

  .education-right img {
    clip-path: none;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    top: -25vw;
    -webkit-clip-path: none;
    width: 100%;
    height: auto;
    z-index: 1;
    margin-bottom: -50px;
  }

  .trajectory-section {
    padding-bottom: 120px;
  }

  .trajectory-title {
  font-size: 8vw;
}

  .trajectory-grid {
    gap: 80px;
   grid-template-columns: repeat(2, 1fr);
}

  .traj-text1 {
    font-size: 4vw;
    margin-bottom: 50px;
  }

  .traj-text2 {
    font-size: 2.5vw;
    margin-bottom: 50px;
  }

  .traj-text {
    font-size: 2.5vw;
  }

  .traj-date-line {
    font-size: 2.5vw;
  }

  .traj-date {
    font-size: 2.5vw;
  }

  .awards-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    overflow: hidden;
    padding: 60px 0;
  }

  .awards-left {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .awards-left img {
    height: 100%;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    opacity: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
  }

  .awards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .awards-right {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .awards-text {
    font-size: 3vw;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
  }

  .awards-list {
    width: 100%;
  }

  .award-item {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px 20px 20px 90px;
    width: 100%;
  }

  .award-number {
    font-size: 9vw;
    left: 20px;
    opacity: 40%;
  }

  .award-title {
    font-size: 3vw;
    margin-bottom: 5px;
    text-align: left;
  }

  .award-texts {
    margin-left: 40px;
  }

  .award-text {
    font-size: 3vw;
    line-height: 1.4;
    text-align: left;
  }
}

@media screen and (max-width: 630px) {
  .edu-number {
    font-size: 16vw;
    margin-top: -20px;
  }

  .edu-cita {
    padding-top: 70px;
  }

  .edu-title2 {
    font-size: 3.5vw;
    margin-top: -2vw;
    padding-top: 70px;
  }

  .edu-line2 {
    font-size: 3.5vw;
  }

  .traj-text1 {
    margin-bottom: 10px;
  }

  .traj-text2 {
    margin-bottom: 10px;
  }

  .trajectory-grid {
    grid-template-columns: 1fr;
  }

  .award-number {
    font-size: 9vw;
  }

  .award-texts {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills-container {
    padding-top: 200px;
    width: 80%;
  }

  .skill-text {
    display: none;
  }

  .skills-grid {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .skill-item img {
    height: 80px;
    width: 80px;
  }

  .education-description {
    padding-bottom: 30px;
  }

  .education-right img {
    top: -130px;
  }

  .edu-cita {
    padding-top: 20px;
  }

  .edu-title2 {
    font-size: 3.5vw;
    margin-top: -3.5vw;
    padding-top: 20px;
  }

  .edu-line2 {
    font-size: 3.5vw;
  }

}

@media screen and (max-width: 400px) {
  .education-description {
    padding-bottom: 20px;
  }

  .edu-cita {
    padding-top: 0px;
  }

  .edu-title2 {
    font-size: 4vw;
    margin-top: -5vw;
    padding-top: 0px;
  }
}
