.contenedor {
  position: relative;
  background-color: #fafafa;
  height: 1200px;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  z-index: 0;
}

.contenedor-seccionb {
  width: 100%;
display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  top: 11%;
}

.seccionesb {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
}

.linea-seccionesb {
  border: none;
  height: 5px;
  background-color: #d6418c;
  width: 25px;
  margin-right: 13px;
  margin-top: 31px;
}

h2.seccionb{
  font-weight: 500;
  font-size: 1.4em;
}

.contenedor-blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  position: relative;
  top: 13%;
  width: 100%;
  box-sizing: border-box;
}

.blogamarillo {
  position: relative;
  background-color: #ffd200;
  color: #fff;
  height: 300px;
  width: calc(33.33% - 2%);
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
border-radius: 20px;
}

.blogamarillo::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 5px solid #FFE464;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
border-radius: 15px;
}

.blogamarillo:hover h1.cita,
.blogamarillo:hover .titulo {
  position: absolute;

}

.bloggris{
  position: relative;
  background-color: #efefef;
  color: #fff;
  height: 300px;
  width: calc(33.33% - 2%);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
border-radius: 20px;
}

.bloggris::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 5px solid #000;
  opacity: 20%;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
border-radius: 15px;
}

.bloggris:hover h1.cita,
.bloggris:hover .titulo {
  position: absolute;

}

h1.cita {
  position: absolute;
  color:  #000;
  font-size: 7em;
  font-weight: 800;
  opacity: 20%;
  left: 12%;
  top: -15%;
  transition: all 0.3s ease;
}

.titulo {
  position: absolute;
  font-size: 1.1em;
  font-weight: 500;
  color: #000;
  opacity: 60%;
  left: 13%;
  top: 37%;
  padding-right: 13%;
  line-height: 1.4;
  transition: all 0.3s ease;
}

.blogamarillo:hover h1.cita {
  position: absolute;
  color:  #000;
  font-size: 7em;
  font-weight: 800;
  opacity: 10%;
  left: 12%;
  top: -11%;
}

.blogamarillo:hover .titulo {
  position: absolute;
  font-size: 1.1em;
  font-weight: 500;
  color: #000;
  opacity: 60%;
  left: 13%;
  top: 30%;
  line-height: 1.4;
}

.bloggris:hover h1.cita {
  position: absolute;
  color:  #000;
  font-size: 7em;
  font-weight: 800;
  opacity: 10%;
  left: 12%;
  top: -11%;
}

.bloggris:hover .titulo {
  position: absolute;
  font-size: 1.1em;
  font-weight: 500;
  color: #000;
  opacity: 60%;
  left: 13%;
  top: 30%;
  line-height: 1.4;
}

.fecha {
  position: absolute;
  font-size: 0.82em;
  font-weight: 500;
  color: #000;
  opacity: 40%;
  left: 13%;
  bottom: 13%;
  line-height: 1.7;
}

.bfecha {

  font-weight: 600;

}
