.hero {
     position: relative;
     width: 100%;
     height: 30vw;
     overflow: hidden;
     clip-path: circle(200% at 50% -393%);
     margin-top: 60px;
   }

   .hero img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
   }

   .hero-overlay {
     position: absolute;
     inset: 0;
     background-color: rgba(0,0,0,0.8);
   }

   .hero-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     text-align: center;
     z-index: 2;
     width: 90%;
     font-family: 'montserrat regular', sans-serif;
     font-size: clamp(12pt, 1vw, 30pt);
   }

   .hero-text h1 {
     font-family: 'montserrat bold', sans-serif;
   }

   .hero-text P {
     margin-top: 50px;
     font-family: 'montserrat regular', sans-serif;
     font-size: 9pt;
     letter-spacing: 4px;
     color: #727272;
   }


   .article-divider {
     width: 90%;
     height: 2px;
     background: #727272;
     margin: 60px auto 40px auto;
     opacity: 40%;
   }


   .article-layout {
     width: 90%;
     margin: 0 auto 100px auto;
     display: grid;
     grid-template-columns: 3fr 1fr;
     gap: 50px;
   }

   .article-content p {
     font-family: 'montserrat regular', sans-serif;
     font-size: clamp(12pt, 1vw, 30pt);
     line-height: 1.7;
     margin-bottom: 20px;
     color: #30302f;
     text-align:  justify;
     hyphens: auto;
   }

   .article-sidebar {
     color: #30302f;
   }

   .author-box {
     text-align: left;
   }

   .author-photo {
     width: 100%;
     height: auto;
     background: #e0e0e0;
     border-radius: 10px;
     margin-bottom: 10px;
   }

   .author-photo img{
     width: 100%;
     height: auto;
   }

   .author-name {
     font-family: 'montserrat regular', sans-serif;
     font-size: clamp(12pt, 1vw, 30pt);
   }

   .sidebar-space {
     height: 50px;
   }

   .recent-posts h3 {
     font-family: 'montserrat regular', sans-serif;
     font-size: clamp(12pt, 1vw, 30pt);
     letter-spacing: 1px;
     margin-bottom: 20px;
   }

   .recent-link {
     display: block;
     font-family: 'montserrat regular', sans-serif;
     font-size: clamp(12pt, 1vw, 30pt);
     color: #30302f;
     text-decoration: none;
     margin-bottom: 20px;
     transition: color 0.3s ease;
     line-height: 1.5;
   }

   .recent-link:hover {
     color: #d4007f;
   }

   .recent-divider {
     display: block;
     width: 100%;
     height: 1px;
     background: #6B6B6B;
     opacity: 30%;
     margin-bottom: 15px;
   }

   .section-title {
     position: relative;
     top: 0;
     left: 0;
     width: 90%;
     display: flex;
     align-items: center;
     font-size: clamp(12pt, 1vw, 30pt);
     z-index: 10;
     margin-bottom: 30px;
   }

   .section-title .dash {
     color: #d4007f;
     margin-right: 10px;
     margin-top: -3px;
     font-size: clamp(18pt, 2vw, 36pt);
     font-family: 'montserrat black', sans-serif;
   }

   .section-title .title-text {
       font-family: 'montserrat regular', sans-serif;
     color: #30302f;
   }

   @media screen and (max-width: 890px) {

     .hero {
          height: 400px;
          clip-path: circle(200% at 50% -115vw);
          margin-top: 80px;
        }

        .hero-text {
          margin-top: -45px;
        }

        .hero-text h1{
          font-size: 7vw;
        }

        .hero-text p {
          font-size: 3vw;
        }

     .article-layout {
       grid-template-columns: 1fr;
       gap: 60px;
     }

     .article-content {
       width: 100%;
       padding: 20px;
     }

     .article-content p {
       width: 100%;
       font-size: 4vw;
        text-align:  justify;
        hyphens: auto;
     }

     .article-sidebar {
       width: 100%;
     }

     .sidebar-space {
       height: 60px;
     }

     .author-photo img{
      display: none;
     }

     .author-name {
       font-size: 4vw;
        padding: 20px;
     }

     .recent-link {
    margin-top: 20px;
    font-size: 4vw;
    padding: 20px;
     }

     .section-title {
    padding: 20px;
    font-size: 4vw;
    margin-bottom: 50px;
     }

   }

   @media screen and (max-width: 500px) {

     .hero {
          height: 250px;
          clip-path: circle(200% at 50% -110vw);
          margin-top: 80px;
        }

        .hero-text {
          margin-top: -20px;
        }

     .article-layout {
       gap: 40px;
     }

     .recent-posts h3 {
       margin-bottom: 15px;
     }

     .recent-link {
       margin-bottom: 15px;
     }
   }
