.blog-section {
  margin: 50px auto;
  margin-top: 100px;
  width: 95%;
  height: 100vh;
}

.title-title {
  display: flex;
  font-size: 5vw;
}

.title-title .title-text {
  color: #e1e1e1;
}

.blog-grid {
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  width: 100%;
}

.blog-item {
  background: #f4f4f4;
  border-radius: 7px;
  color: #6B6B6B;
  display: block;
  overflow: hidden;
  padding: 40px;
  position: relative;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 300px;
}

.blog-item::before {
  border: 3px solid #6B6B6B;
  border-radius: 5px;
  bottom: 15px;
  content: "";
  left: 15px;
  opacity: 40%;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.blog-item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transform: scale(1.03);
}

.blog-item h2 {
  font-family: 'montserrat bold', sans-serif;
  font-size: 90pt;
  margin-left: -4px;
  margin-top: -20px;
  opacity: 30%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.blog-item .title {
  font-family: 'montserrat medium', sans-serif;
  margin-top: -70px;
  transition: transform 0.5s ease, color 0.3s ease;
}

.blog-item .date,
.blog-item .author {
  bottom: 70px;
  color: #6B6B6B;
  font-size: 10pt;
  left: 40px;
  opacity: 50%;
  position: absolute;
  right: 40px;
}

.blog-item .author {
  bottom: 45px;
}

.blog-item:hover h2 {
  opacity: 15%;
  transform: translateY(10px);
}

.blog-item:hover .title {
  color: #e6007d;
  transform: translateY(-10px);
}

.blog-item2 {
  background: #fbba00;
  border-radius: 7px;
  color: #6B6B6B;
  display: block;
  overflow: hidden;
  padding: 40px;
  position: relative;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 300px;
}

.blog-item2::before {
  border: 4px solid #FFE464;
  border-radius: 5px;
  bottom: 15px;
  content: "";
  left: 15px;
  opacity: 40%;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.blog-item2:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transform: scale(1.03);
}

.blog-item2 h2 {
  font-size: 90pt;
  margin-left: -4px;
  margin-top: -20px;
  opacity: 30%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.blog-item2 .title {
  font-family: 'montserrat medium', sans-serif;
  margin-top: -70px;
  transition: transform 0.5s ease, color 0.3s ease;
}

.blog-item2 .date,
.blog-item2 .author {
  bottom: 70px;
  color: #6B6B6B;
  font-size: 10pt;
  left: 40px;
  opacity: 50%;
  position: absolute;
  right: 40px;
}

.blog-item2 .author {
  bottom: 45px;
  font-family: 'montserrat regular', sans-serif;
}

.blog-item2:hover h2 {
  opacity: 15%;
  transform: translateY(10px);
}

.blog-item2:hover .title {
  color: #e6007d;
  transform: translateY(-10px);
}

@media screen and (max-width: 1000px) {
  .blog-grid {
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 890px) {
  .title-title {
    font-size: 10vw;
  }
}

@media screen and (max-width: 600px) {
  .blog-section {
  height: 100vh;
} 

.blog-grid {
  grid-template-columns: repeat(1, 1fr);
}

}

@media screen and (max-width: 500px) {
  .blog-section {
   height: 100vh;
} 

}
