.blog-section {
  width: 90%;
  margin: 50px auto;
  margin-top: 100px;
}

.blog-grid {
  display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 15px;
 justify-content: center;
 width: 100%;
}

.blog-item {
  position: relative;
  display: block;
  width: 350px;
  height: 270px;
  background: #f4f4f4;
  border-radius: 15px;
  padding: 40px;
  color: #6B6B6B;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 4px solid #6B6B6B;
  border-radius: 12px;
  pointer-events: none;
  opacity: 40%;
}

.blog-item:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.blog-item h1 {
  font-family: 'montserrat bold', sans-serif;
  font-size: 90pt;
  margin-top: -20px;
  opacity: 30%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin-left: -4px;
}

.blog-item .title {
  font-family: 'montserrat medium', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  margin-top: -70px;
  transition: transform 0.5s ease, color 0.3s ease;
}

.blog-item .date,
.blog-item .author {
  position: absolute;
  left: 40px;
  right: 40px;
  color: #6B6B6B;
}

.blog-item .date {
  bottom: 75px;
  font-family: 'montserrat semibold', sans-serif;
  font-size: 10pt;
  opacity: 50%;
}

.blog-item .author {
  bottom: 45px;
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  opacity: 50%;
}

.blog-item:hover h1 {
  transform: translateY(10px);
  opacity: 15%;
}

.blog-item:hover .title {
  transform: translateY(-10px);
  color: #d4007f;
}

.blog-item2 {
  position: relative;
  display: block;
  width: 350px;
  height: 270px;
  background: #ffd200;
  border-radius: 15px;
  padding: 40px;
  color: #6B6B6B;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-item2::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 4px solid #FFE464;
  border-radius: 12px;
  pointer-events: none;
  opacity: 40%;
}

.blog-item2:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.blog-item2 h1 {
  font-family: 'montserrat bold', sans-serif;
  font-size: 90pt;
  margin-top: -20px;
  opacity: 30%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin-left: -4px;
}

.blog-item2 .title {
  font-family: 'montserrat medium', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  margin-top: -70px;
  transition: transform 0.5s ease, color 0.3s ease;
}

.blog-item2 .date,
.blog-item2 .author {
  position: absolute;
  left: 40px;
  right: 40px;
  color: #6B6B6B;
}

.blog-item2 .date {
  bottom: 75px;
  font-family: 'montserrat semibold', sans-serif;
  font-size: 10pt;
  opacity: 50%;
}

.blog-item2 .author {
  bottom: 45px;
  font-family: 'montserrat regular', sans-serif;
  font-size: 10pt;
  opacity: 50%;
}

.blog-item2:hover h1 {
  transform: translateY(10px);
  opacity: 15%;
}

.blog-item2:hover .title {
  transform: translateY(-10px);
  color: #d4007f;
}

.section-title {
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: clamp(12pt, 1vw, 30pt);
  z-index: 10;
  margin-bottom: 15px;
}

.section-title .dash {
  color: #d4007f;
  margin-right: 10px;
  margin-top: -3px;
  font-size: clamp(18pt, 2vw, 36pt);
  font-family: 'montserrat black', sans-serif;
}

.section-title .title-text {
    font-family: 'montserrat regular', sans-serif;
  color: #30302f;
}

@media screen and (max-width: 890px) {
  .blog-grid {
      grid-template-columns: 1fr;
      width: 100%;
      margin: 0 auto;
    }

    .blog-item,
    .blog-item2 {
      width: 100%;
      height: 300px;
      max-width: none;
    }

    .blog-item .title {
      font-size: 4vw;
    }

    .blog-item .date {
      font-size: 3vw;
    }

    .blog-item .author {
      font-size: 3vw;
    }

    .blog-item2 .title {
      font-size: 4vw;
    }

    .blog-item2 .date {
      font-size: 3vw;
    }

    .blog-item2 .author {
      font-size: 3vw;
    }

    .section-title {
      font-size: 4vw;
    }

    .section-title .dash {
      font-size: 4vw;
    }
}

@media screen and (max-width: 500px) {

}
