html{

   scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    position: relative;
      font-weight: 400;
}

.portada{
  width: 100%;
  position: relative;
  height: 42vw;
  object-fit: cover;
  clip-path: circle(170% at 50% -250%);
  display: flex;
  text-align: center;
  align-items: center;
  display: grid;
  place-items: center;
}

img.portada{
  position: fixed;
  width: 100%;
  z-index: 0;
}

.image-overlay{
  position: absolute;
  width: 100%;
  height: 37vw;
  background-color: #000;
  opacity: 80%;
  z-index: 1;
  align-self: center;
  border-radius: 0px;
}

h1.tituloportada{
  position: absolute;
  z-index: 2;
  color: white;
  font-weight: 500;
  letter-spacing: 2;
  line-height: 1.1;
  top: 26%;
  font-size: 2.5vw
}

p.subtituloportada{
  position: absolute;
  z-index: 3;
  color: white;
  font-weight: 500;
  letter-spacing: 2;
  line-height: 1;
  font-size: 0.8vw;
  opacity: 50%;
}

@media (max-width: 600px) {
    p.subtituloportada {
      font-size: 1.2vw;
    }
}

.linea-fina-blog {
  position: absolute;
  border: none;
  height: 0.1vh;
  background-color: #6B6B6B;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -3.5%;
}

.contenedorpadding{
  padding-left: 15vw;
  padding-right: 15vw;
}

.contenedorambos{
    display: flex;
    align-items: center;
    align-items: flex-start;
      justify-content: space-between;
}

@media (max-width: 600px) {
    .contenedorambos {
      display: block;
              align-items: initial;
              justify-content: initial;
    }
}


.contenedorpost{
  text-align: justify;
  text-align-last: left;
  position: relative;
  background-color: white;
  color: #555;
  height: auto;
  width: 1000vw;
  margin-bottom: 5vw;
  margin-right: 7vw;

}

@media (max-width: 600px) {
    .contenedorpost{
  width: 100%;
    }
}

.contenedorrecientes{
  text-align-last: left;
  position: relative;
  height: auto;
  width: 19vw;
}

@media (max-width: 600px) {
    .contenedorrecientes{
  width: 100%;
    }
}

.contenedor-seccion {
  width: 19vw;
  display: flex;
  box-sizing: border-box;
  z-index: 4;
  position: absolute;
  margin-left: auto;
  margin-top: -2vw;
}

.secciones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
}

.linea-secciones {
  border: none;
  height: 0.3vw;
  background-color: #d6418c;
  width: 1.7vw;
  margin-right: 1vw;
  margin-top: 1.7vw;
  margin-left: 0vw;
}

@media (max-width: 600px) {
    .linea-secciones {
      height: 0.4vw;
      width: 2.5vw;
      margin-right: 1vw;
      margin-top: 1.1vw;
    }
}


h2.seccion {
  font-weight: 500;
  font-size: 1.3vw;
}


@media (max-width: 600px) {
    h2.seccion {
        font-size: 2.5vw;
        margin-top: -0.1vw;
    }
}

.contenedorrecientestexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 30px;
  width: 100%;
  padding: 1.2vw 0;
}

.recientestexto {
  margin-bottom: -10px;
  width: 100%;
  position: relative;

}

.recientestexto a {
  text-decoration: none;

}

.linea-fina-recientes {
  border: none;
  height: 0.1vh;
  background-color: #6B6B6B;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

p.recientes {
  letter-spacing: 1;
  line-height: 1.5;
  color: #6B6B6B;
  font-size: 0.7vw;
  font-weight: 500;
  position: relative;
  margin-top: 10px;
}

@media (max-width: 600px) {
    p.recientes {
      font-size: 2vw;
    }
}
