html{
  background-color: #fafafa;
   scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    position: relative;
      font-weight: 400;
}

.contenedor {
  position: relative;
  background-color: #fafafa;
  height: 1200px;
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
  box-sizing: border-box;
  z-index: 0;
}

.contenedor-seccion {
  width: 100%;
display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  top: 11vw;
}

.secciones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
}

.linea-secciones {
  border: none;
  height: 5px;
  background-color: #d6418c;
  width: 25px;
  margin-right: 13px;
  margin-top: 31px;
}

@media (max-width: 600px) {
    .linea-secciones {
      height: 0.4vw;
      width: 2.5vw;
      margin-right: 1vw;
      margin-top: 3.4vw;
    }
}


h2.seccion{
  font-weight: 500;
  font-size: 1.4em;
}


@media (max-width: 600px) {
    h2.seccion {
        font-size: 2.5vw;
    }
}

.contenedor-blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  position: relative;
  top: 13vw;
  width: 100%;
  box-sizing: border-box;
}

.blogamarillo {
  position: relative;
  background-color: #ffd200;
  color: #fff;
  height: 17.8vw;
  width: calc(33.33% - 2%);
  padding: 1vw;
  margin-bottom: 1vw;
  box-sizing: border-box;
border-radius: 1.5vw;
}

.blogamarillo::before {
  content: '';
  position: absolute;
  top: 1vw;
  left: 1vw;
  right: 1vw;
  bottom: 1vw;
  border: 0.4vw solid #FFE464;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
border-radius: 1.5vw;
}

.blogamarillo:hover h1.cita,
.blogamarillo:hover .titulo {
  position: absolute;

}

.bloggris{
  position: relative;
  background-color: #efefef;
  color: #fff;
  height: 17.8vw;
  width: calc(33.33% - 2%);
  padding: 1vw;
  box-sizing: border-box;
  margin-bottom: 1vw;
border-radius: 1.5vw;
}

.bloggris::before {
  content: '';
  position: absolute;
  top: 1vw;
  left: 1vw;
  right: 1vw;
  bottom: 1vw;
  border: 0.4vw solid #000;
  opacity: 20%;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 1;
border-radius: 1.5vw;
}

.bloggris:hover h1.cita,
.bloggris:hover .titulo {
  position: absolute;

}

h1.cita {
  position: absolute;
  color:  #000;
  font-size: 7vw;
  font-weight: 800;
  opacity: 20%;
  left: 12%;
  top: -15%;
  transition: all 0.3s ease;
}

.titulo {
  position: absolute;
  font-size: 1.1vw;
  font-weight: 500;
  color: #000;
  opacity: 60%;
  left: 13%;
  top: 37%;
  padding-right: 13%;
  line-height: 1.4;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
    .titulo {
  font-size: 1.2vw;
  line-height: 1.2;
    }
}


.blogamarillo:hover h1.cita {
  position: absolute;
  color:  #000;
  font-size: 7vw;
  font-weight: 800;
  opacity: 10%;
  left: 12%;
  top: -11%;
}

.blogamarillo:hover .titulo {
  position: absolute;
  font-size: 1.1vw;
  font-weight: 500;
  color: #000;
  opacity: 60%;
  left: 13%;
  top: 30%;
  line-height: 1.4;
}

.bloggris:hover h1.cita {
  position: absolute;
  color:  #000;
  font-size: 7vw;
  font-weight: 800;
  opacity: 10%;
  left: 12%;
  top: -11%;
}

.bloggris:hover .titulo {
  position: absolute;
  font-size: 1.1vw;
  font-weight: 500;
  color: #000;
  opacity: 60%;
  left: 13%;
  top: 30%;
  line-height: 1.4;
}

.fecha {
  position: absolute;
  font-size: 0.82vw;
  font-weight: 500;
  color: #000;
  opacity: 40%;
  left: 13%;
  bottom: 13%;
  line-height: 1.7;
}

.bfecha {

  font-weight: 600;

}
