.hero {
  clip-path: circle(200% at 50% -393%);
  height: 30vw;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hero img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hero-overlay {
  background-color: rgba(0,0,0,0.8);
  inset: 0;
  position: absolute;
}

.hero-text {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 2;
}

.hero-text P {
  color: #727272;
  font-size: 9pt;
  letter-spacing: 4px;
  margin-top: 50px;
}

.article-divider {
  background: #727272;
  height: 2px;
  margin: 60px auto 40px auto;
  opacity: 40%;
  width: 95%;
}

.article-layout {
  display: grid;
  gap: 50px;
  grid-template-columns: 3fr 1fr;
  margin: 0 auto 100px auto;
  width: 95%;
}

.article-content p {
  color: #000000;
  hyphens: auto;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: justify;
}

.article-sidebar {
  color: #000000;
}

.author-box {
  text-align: center;
}

.author-photo {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.author-photo img{
  height: auto;
  width: 100%;
  margin-top: -50px;
}

.sidebar-space {
  height: 50px;
}

.recent-posts {
 background-color: #f7f7f7;
 padding: 20px;
 border-radius: 7px;
}

.recent-link {
  color: #000000;
  display: block;
  line-height: 1.5;
  margin-bottom: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.recent-link:hover {
  color: #e6007d;
}

.recent-divider {
  background: #6B6B6B;
  display: block;
  height: 1px;
  margin-bottom: 15px;
  opacity: 30%;
  width: 100%;
}

@media screen and (max-width: 890px) {
  .hero {
    clip-path: circle(200% at 50% -115vw);
    height: 400px;
  }

  .hero-text {
    margin-top: -30px;
  }
 
  .hero-text h1 {
    font-size: 7vw;
  }

  .hero-text p {
    font-size: 2vw;
  }
  

  .article-layout {
    gap: 60px;
    grid-template-columns: 1fr;
  }

  .article-content {
    padding: 20px;
    width: 100%;
  }

  .article-content p {
    font-size: 4vw;
    text-align: justify;
    hyphens: auto;
    width: 100%;
  }

  .article-sidebar {
    width: 100%;
  }

  .sidebar-space {
    height: 60px;
  }

  .author-photo img{
    display: none;
  }

  .author-name {
    font-size: 4vw;
    padding: 20px;
  }

  .recent-link {
    font-size: 4vw;
    margin-top: 20px;
    padding: 20px;
  }

}

@media screen and (max-width: 500px) {
  .hero {
    clip-path: circle(200% at 50% -110vw);
    height: 400px;
  }

  .article-layout {
    gap: 40px;
  }

  .recent-posts h3 {
    margin-bottom: 15px;
  }

  .recent-link {
    margin-bottom: 15px;
  }
}
