:root {
--header-height: 60px;
}

#alerta-bar {
position: fixed;
top: calc(var(--header-height) * -1);
left: 0;
width: 100%;
background-color: #FFD200;
color: #30302F;
font-family: 'montserrat regular', sans-serif;
font-weight: bold;
font-size: clamp(12pt, 1vw, 30pt);
text-align: center;
z-index: 1;
padding: 10px 20px;
transition: top 0.4s ease;
box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

#alerta-bar .alerta {
margin: 0;
}

#alerta-bar b{
 font-family: 'montserrat bold', sans-serif;
}


.hero {
     position: relative;
     width: 100%;
     height: 30vw;
     overflow: hidden;
     clip-path: circle(200% at 50% -393%);
     margin-top: 60px;
   }

   .hero img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
   }

   .hero-overlay {
     position: absolute;
     inset: 0;
     background-color: rgba(0,0,0,0.5);
   }

   .hero-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     font-size: clamp(12pt, 1vw, 30pt);
     text-align: center;
     z-index: 2;
     width: 90%;
     font-family: 'montserrat regular', sans-serif;
   }

   .hero-text h1 {
     font-family: 'montserrat bold', sans-serif;
   }

   .image-section {
     width: 100%;
     margin: 0 auto;
     padding: 40px 0;
   }

   .image-section img {
     width: 100%;
     height: auto;
     display: block;
     margin-bottom: 20px;
   }
   .image-section video {
     width: 100%;
     height: auto;
     display: block;
     margin-bottom: 20px;
   }

@media screen and (max-width: 890px) {
  :root {
  --header-height: 80px;
  }

  #alerta-bar {
  font-size: 4vw;
  }

  .hero {
       height: 350px;
       clip-path: circle(200% at 50% -115vw);
       margin-top: 80px;
     }

     .hero-text {
       font-size: 4vw;
     }
}

@media screen and (max-width: 500px) {
  :root {
  --header-height: 80px;
  }

  #alerta-bar {
  font-size: 4vw;
  }

  .hero {
       height: 250px;
       clip-path: circle(200% at 50% -110vw);
       margin-top: 80px;
     }

     .hero-text {
       font-size: 4vw;
     }
}
