.hero {
     position: relative;
     width: 100%;
     height: 30vw;
     overflow: hidden;
     clip-path: circle(200% at 50% -393%);
     margin-top: 60px;
   }

   .hero img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
   }

   .hero-overlay {
     position: absolute;
     inset: 0;
     background-color: rgba(0,0,0,0.7);
   }

   .hero-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     font-size: clamp(12pt, 1vw, 30pt);
     text-align: center;
     z-index: 2;
     width: 90%;
     font-family: 'montserrat regular', sans-serif;
   }

   .hero-text h1 {
     font-family: 'montserrat bold', sans-serif;
   }

   .section-title {
     position: relative;
     top: 0;
     left: 0;
     width: 90%;
     display: flex;
     align-items: center;
     font-size: clamp(12pt, 1vw, 30pt);
     z-index: 10;
     margin-bottom: 15px;
   }

   .section-title .dash {
     color: #d4007f;
     margin-right: 10px;
     margin-top: -3px;
     font-size: clamp(18pt, 2vw, 36pt);
     font-family: 'montserrat black', sans-serif;
   }

   .section-title .title-text {
       font-family: 'montserrat regular', sans-serif;
     color: #30302f;
   }

.contact-section {
  margin-top: -20px;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  font-family: 'montserrat regular', sans-serif;
}

.contact-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 50px;
}

.contact-container h2 {
  font-family: 'montserrat medium', sans-serif;
  font-size: clamp(14pt, 1.5vw, 30pt);
  color: #30302f;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group {
  position: relative;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 15px;
  background: #fff;
  border: 1px solid rgba(255,255,255,0.3);
  border-color: #bbb;
  border-radius: 12px;
  color: #30302f;
  outline: none;
  font-size: clamp(12pt, 1vw, 30pt);
}

.input-group textarea {
  resize: none;
  height: 120px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #bbb;
  pointer-events: none;
  transition: opacity 0.2s ease;
  background: transparent;
  z-index: 2;
}

.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group select:focus + label,
.input-group input:not(:placeholder-shown) + label,
.input-group textarea:not(:placeholder-shown) + label,
.input-group select:valid + label {
  opacity: 0;
  visibility: hidden;
}

.input-group input[type="date"] {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-group select {
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  background-color: #fff;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
  outline: none;
  appearance: none;
    border-color: #bbb;
}

.input-group option {
  color: #30302f;
}

#fecha-display {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.3);
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
  background-color: #fff;
  cursor: pointer;
  font-family: 'montserrat regular', sans-serif;
    border-color: #bbb;
}

#fecha-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 15px;
  background: #30302f;
  color: #fff;
  font-size: clamp(12pt, 1vw, 30pt);
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  color: #fff;
  background-color: #d4007f;
  transform: scale(1.05);
}

@media (max-width: 890px) {

  .hero {
       height: 350px;
       clip-path: circle(200% at 50% -115vw);
       margin-top: 80px;
     }

     .hero-text {
       font-size: 4vw;
       margin-top: -40px;
     }

     .section-title {
       font-size: 4vw;
     }

     .section-title .dash {
       font-size: 4vw;
     }

     .contact-container {
       width: 100%;
     }

     .contact-section {
       margin-top: -90px;
     }

     .contact-info p.principal {
       text-align:  justify;
       font-size: 4vw;
     }

     .contact-info p {
       font-size: 4vw;
     }

     .info-item {
       font-size: 4vw;
     }

  .contact-container {
    grid-template-columns: 1fr;
    padding: 40px 25px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 500px) {
  .hero {
       height: 250px;
       clip-path: circle(200% at 50% -110vw);
       margin-top: 80px;
     }

     .hero-text {
       font-size: 4vw;
       margin-top: -20px;
     }

     .contact-section {
       margin-top: -70px;
     }
}
