
footer{
  background-color: #f4f4f4;
  position: relative;
  width: 100%;
  color: #6B6B6B;
  height: 15vw;
}

img.logo2{
  width: 10vw;
  margin-left: 3.5vw;
  margin-top: 3vw;
  margin-bottom: 1.7vw;
  filter: invert(100%) grayscale(100%);
  opacity: 60%;
}

.menufooter {
    font-size: 0.75vw;
  position: absolute;
 right: 7vw;
 top: 4vw;
}

.menufooter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menufooter li {
    list-style: none;
margin-left: 2.5vw;
}

.menufooter a {
    text-decoration: none;
    color: #6B6B6B;
    font-size: 0.8vw;
    font-weight: 400;
    letter-spacing: 0;
    transition: color 0.3s;
}

.logoinstagram2{
  margin-top: 3.5vw;
  position: absolute;
  margin-left: 81.35vw;
  opacity: 40%;
  width: 2vw;
}

.linea-fina {
  position: absolute;
  border: none;
  height: 0.5px;
  background-color: #6B6B6B;
  left: 50vw;
  transform: translateX(-50%);
  margin: 0;
}

p.footertext{
  font-size: 0.7vw;
}

.copyright{
margin-top: 2.5vw;
  text-align: center;
}
