#site-footer {
  background-color: #efeff0;
  color: #000000;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo-img {
  height: 60px;
  width: auto;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.footer-logo-img:hover {
  transform: scale(1.1);
}

.footer-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 40px;
  gap: 20px;
  margin-top: -40px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-menu a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

.footer-menu a:hover {
  color: #e6007d;
  transform: scale(1.05);
  font-family: 'montserrat medium', sans-serif;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-icons-2 {
  display: none;
}

.social-media-icon {
  height: 35px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-media-icon:hover {
  transform: scale(1.1);
}

.scroll-top {
  background-color: #000000;
  color: #efeff0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-top:hover {
  background-color: #e6007d;
  transform: scale(1.1);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.footer-line {
  width: 95%;
  height: 0.5px;
  background-color: #000000;
  margin-top: -50px;
}

.footer-copy {
  font-size: clamp(10pt, 0.5vw, 20pt);
  color: #000000;
}

@media (max-width: 890px) {
  a {
    font-size: 4vw;
  }
  
  .footer-logo-img {
    height: 40px;
  }

  .footer-name {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 50px;
  }

  .footer-menu {
    gap: 20px;
  }
  
  .footer-column {
    text-align: left;
    align-items: left;
  }
}