.contenedor{
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 15vw;
  padding-right: 15vw;
  box-sizing: border-box;
  z-index: 0;
}

.cuadro{
  position: relative;
  background-color: #efefef;
  height: 18vw;
  width: calc(70% - 2%);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@media (max-width: 600px) {
  .cuadro {
        height: 50vw;
        width: calc(100% - 2%);
    }
}

.titulo{
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333 ;
  font-weight: 600;
  font-size: 2vw;
  letter-spacing: 0;
}

@media (max-width: 600px) {
  .titulo {
    top: 20%;
          font-size: 5vw;
    }
}

.text{
  width: 60%;
  position: absolute;
  font-size: 1.1vw;
  font-weight: 400;
  color: #333;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 0.1vw;
}

@media (max-width: 600px) {
  .text {
        font-size: 3vw;
    }
}
