header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(60px, 3vw, 80px);
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  transition: all 0.5s ease;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header.scrolled {
  background: #30302f;
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
  gap: 50px;
}

.left a {
  font-size: clamp(12pt, 1vw, 30pt);
  text-decoration: none;
  color: #30302f;
  transition: color 0.3s ease;
  font-family: 'montserrat regular', sans-serif;
}

.left a:hover {
  color: #d4007f;
  transform: scale(1.1);
}

header.scrolled .left a {
  color: #ffffff;
}

header.scrolled .left a:hover {
  color: #d4007f;
}

.center {
  justify-content: center;
}

.logo-normal {
  display: inline;
  height: 50px;
  width: auto;
  transition: all 0.3s ease;
}

.logo-scrolled {
  display: none;
  height: 50px;
  width: auto;
  transition: all 0.3s ease;
}

header.scrolled .logo-normal {
  display: none;
}

header.scrolled .logo-scrolled {
  display: inline;
}

.right {
  justify-content: flex-end;
  gap: 20px;
}

.btn-accent {
  background: #30302f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  text-decoration: none;
}

header:not(.scrolled) .btn-accent:hover {
  background: #d4007f;
  transform: scale(1.05);
}

header.scrolled .btn-accent {
  background: #efeff0;
  color: #30302f;
}

header.scrolled .btn-accent:hover {
  background: #d4007f;
  transform: scale(1.05);
  color: #ffffff;
}

.mobile-only {
  display: none;
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  font-size: 4vw;
  border-radius: 30px;
  background: #30302f;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0px;
}

.mobile-only:hover {
  background: #d4007f;
  transform: scale(1.05);
}

.ig-icon {
  height: 35px;
  width: auto;
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: invert(0);
}

.ig-icon:hover {
  transform: scale(1.1);
}

header.scrolled .ig-icon {
  filter: invert(1);
}

.menu-links {
  display: flex;
  gap: 30px;
}

.menu-links a {
  text-decoration: none;
  color: #30302f;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  transition: color 0.3s, transform 0.3s;
}

.menu-links a:hover {
  color: #d4007f;
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 60px;
  cursor: pointer;
  color: #30302f;
  transition: color 0.3s, transform 0.3s;
  margin-top: -10px;
}

.menu-toggle:hover {
  color: #d4007f;
  transform: scale(1.1);
}

header.scrolled .menu-toggle {
  color: #fff;
}

header.scrolled .menu-toggle:hover {
  color: #d4007f;
}

@media screen and (max-width: 890px) {
  header {
    width: 100%;
    height: clamp(80px, 3vw, 80px);
    padding: 0 30px;
  }

  .menu-links {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    flex-direction: column;
    background: #ffffff;
    display: none;
    padding: 40px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 998;
    border-radius: 25px;
    align-items: center;
  }

  header.scrolled .menu-links {
    background: #30302f;
    color: #fff;
    transition: all 0.3s ease;
  }

  .menu-links a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0px 0;
    font-size: 4vw;
    text-decoration: none;
    color: #30302f;
  }

  header.scrolled .menu-links a {
    color: #fff;
  }

  .menu-toggle {
    display: block;
  }

  header.menu-open .menu-links {
    display: flex;
  }

  .left {
    gap: 10px;
  }

  .center {
    justify-content: center;
  }

  .right {
    gap: -10px;
  }

  .btn-accent {
    display: none;
  }

  .mobile-only {
    display: block;
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 10px 0;
    font-size: 4vw;
    border-radius: 30px;
    background: #30302f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .mobile-only:hover {
    background: #d4007f;
    transform: scale(1.05);
  }
}
