.slider-container {
  position: relative;
  width: 100%;
  height: 42vw;
  overflow: hidden;
  clip-path: circle(170% at 50% -212%);
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active-slide {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.slide-texts {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #30302f;
  font-family: 'montserrat regular', sans-serif;
  z-index: 2;
}

.slide-text1{
  font-family: 'montserrat black', sans-serif;
  font-size: 9vw;
  margin-left: -12.5vw;
  line-height: 1.2;
}

.slide-text2 {
  line-height: 1;
  font-size: 3.7vw;
  margin: 0;
}

.slide-text2 b {
  font-family: 'montserrat bold', sans-serif;
}

.slide-text3 {
  font-family: 'montserrat regular', sans-serif;
  font-size: 1.3vw;
  margin-top: 10px;
}

.slide-text3 b {
  font-family: 'montserrat bold', sans-serif;
}

.slide-button-fixed {
  position: absolute;
  bottom: 30%;
  left: 30%;
  transform: translateX(-50%);
  padding: 12px 30px;
  border: none;
  background-color: #30302f;
  color: #fff;
  font-size: clamp(12pt, 1vw, 30pt);
  cursor: pointer;
  border-radius: 30px;
  z-index: 3;
  transition: background-color 0.3s;
}

.slide-button-fixed:hover {
  background-color: #d4007f;
}

.team-slide {
  position: relative;
}

.team-slide .slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.team-title {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-bottom: 0vw;
  width: 100%;
  padding-top: 3vw;
}

.team-title h2 {
  font-family: 'montserrat extrabold', sans-serif;
  font-size: clamp(12pt, 1.8vw, 30pt);
  color: #b5b5b5;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 10px 70px;
  display: inline-block;
  margin: 0;
}

.team-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1700px;
  margin: 0 auto;
  padding-top: 0vw;
  height: 100%;
  box-sizing: border-box;
}

.team-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  padding: 0 1vw;
}

.team-photo {
  width: 16vw;
  height: 16vw;
  overflow: hidden;
  margin-bottom: -1vw;
  position: relative;
}

.team-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center center;
}

.team-slide img:not(.slide-img) {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.team-text {
  text-align: center;
  width: 100%;
  padding: 0 0vw;
  margin-top: auto;
}

.team-name {
  font-family: 'montserrat extrabold', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
  margin-bottom: 0.8vw;
  text-align: center;
  line-height: 0.8;
}

.team-email {
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(10pt, 0.5vw, 20pt);
  color: #d4007f;
  margin-bottom: 0.8vw;
  text-align: center;
  padding-right: 0%;
  line-height: 0.8;
}

.team-position {
  font-size: clamp(12pt, 1vw, 30pt);
  color: #30302f;
  text-align: center;
  padding-right: 0%;
  line-height: 0.8;
  font-family: 'montserrat regular', sans-serif;
}

.team-position span {
  font-family: 'montserrat extrabold', sans-serif;
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 4vw;
  color: #fff;
  background: rgba(0,0,0,0.4);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(0,0,0,0.7);
  background-color: #d4007f;
  opacity: 50%;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.slide-dots {
  position: absolute;
  bottom: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.6);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.dot.active-dot {
  background-color: #d4007f;
  transform: scale(1.3);
}

.section-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: clamp(12pt, 1vw, 30pt);
  z-index: 10;
}

.section-title .dash {
  color: #d4007f;
  margin-right: 10px;
  margin-top: -3px;
  font-size: clamp(18pt, 2vw, 36pt);
  font-family: 'montserrat black', sans-serif;
}

.section-title .title-text {
    font-family: 'montserrat regular', sans-serif;
  color: #30302f;
}

.portfolio-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  position: relative;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  width: 100%;

}

.portfolio-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  width: 100%;
}

.portfolio-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.portfolio-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

.overlay-text {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
}

.overlay-text h3 {
  margin: 0;
  font-family: 'montserrat bold', sans-serif;
  font-size: clamp(12pt, 1.5vw, 30pt);
}

.overlay-text p {
  margin-top: 10px;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
}

.two-cards {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: -65px;
}

.two-cards-grid {
  width: 100%;
  height: 100%x;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.two-cards-grid .portfolio-card img {
  height: 100%;
  object-fit: cover;
}

.fullwidth {
  width: 90%;
  display: flex;
  justify-content: center;
}

.fullwidth .portfolio-grid {
  width: 100%;
  grid-template-columns: 1fr;
  gap: 0;
  margin-bottom: 20px;
}

.fullwidth .portfolio-card .portfolio-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.fullwidth2 {
  width: 90%;
  display: flex;
  justify-content: center;
}

.fullwidth2 .portfolio-grid {
  width: 100%;
  grid-template-columns: 1fr;
  gap: 0;
}

.fullwidth2 .portfolio-card .portfolio-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.btn-vermas {
  padding: 12px 30px;
  border: none;
  background-color: #fff;
  color: #30302f;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
}

.btn-vermas:hover {
  color: #fff;
  background: #d4007f;
  transform: scale(1.05);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  display: none;
  font-family: 'montserrat regular', sans-serif;
  color: #30302f;
  text-align: center;
  margin-top: 10px;
  font-size: 4vw;
}

.btn-vermas-mobile {
  display: none;
}

@media screen and (max-width: 890px) {
  .slider-container {
    height: 800px;
    clip-path: circle(800px at 50% 0vw);
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .arrow {
    display: none;
  }

  .slide-texts {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #30302f;
    font-family: 'montserrat regular', sans-serif;
    z-index: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  .slide-text1{
    font-family: 'montserrat black', sans-serif;
    font-size: 26vw;
    margin-left: 0vw;
    line-height: 1.2;
  }

  .slide-text2 {
    line-height: 1;
    font-size: 7.5vw;
    margin: 0;
  }

  .slide-text2 b {
    font-family: 'montserrat bold', sans-serif;
  }

  .slide-text3 {
    font-family: 'montserrat regular', sans-serif;
    font-size: 4vw;
    margin-top: 10px;
  }

  .slide-text3 b {
    font-family: 'montserrat bold', sans-serif;
  }

  .slide-button-fixed {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    border: none;
    background-color: #30302f;
    color: #fff;
    font-size: 4vw;
    cursor: pointer;
    border-radius: 30px;
    z-index: 3;
    transition: background-color 0.4s;
  }

  .slide.active-slide:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  .team-slide {
    position: relative;
  }

  .team-title {
    padding-top: 180px;
    margin-bottom: 30px;
  }

  .team-title h2 {
    font-family: 'montserrat extrabold', sans-serif;
    font-size: clamp(12pt, 3vw, 30pt);
  }

  .team-container {
    width: 70%;
    max-width: 1700px;
  }

  .team-column {
    max-width: 0%;
    padding: 0 2vw;
  }

  .team-photo {
    width: 25vw;
    height: 25vw;
  }

  .team-text {
    text-align: center;
    width: 100%;
    padding: 0 0vw;
    margin-top: auto;
  }

  .team-name {
    font-size: 3vw;
    line-height: 1.2;
  }

  .team-email {
    font-size: 2vw;
    line-height: 1.2;
  }

  .team-position {
    font-size: 2vw;
    line-height: 1.2;
  }

  .team-position span {
    font-family: 'montserrat extrabold', sans-serif;
  }

  .section-title {
    font-size: 4vw;
  }

  .section-title .dash {
    font-size: 4vw;
  }

  .portfolio-section {
  width: 90%;
  margin-top: 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  margin-top: 20px;
}

.portfolio-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  margin-top: 20px;
}

.portfolio-card {
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.portfolio-card img {
  border-radius: 15px;
}

.portfolio-card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
}

.two-cards {
  width: 90%;
  margin-top: -65px;
}

.two-cards-grid {
  margin-top: 0px;
  grid-template-columns: 1fr;
}

.fullwidth .portfolio-card .portfolio-video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.portfolio-section:not(.fullwidth) .portfolio-card .overlay {
    display: none !important;
  }

  .portfolio-section:not(.fullwidth) .portfolio-card:hover .overlay {
    opacity: 0 !important;
  }

  .portfolio-section:not(.fullwidth) .overlay-text,
  .portfolio-section:not(.fullwidth) .overlay-text h3,
  .portfolio-section:not(.fullwidth) .overlay-text p {
    font-size: 4vw;
    display: none !important;
  }

  .portfolio-section:not(.fullwidth) .portfolio-card::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;
  }

.fullwidth .portfolio-card .overlay {
  display: flex !important;
  opacity: 1 !important;
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.fullwidth .overlay-text,
.fullwidth .overlay-text h3,
.fullwidth .overlay-text p {
  font-size: 4vw;
  display: block !important;
}

.btn-vermas {
font-size: 4vw;
}

.fullwidth .portfolio-grid {
  margin-bottom: 0px;
}

.fullwidth .btn-vermas {
  display: inline-flex !important;
  position: absolute;
  bottom: 50px;
  z-index: 10;
}

.card-title,
 .btn-vermas-mobile {
   display: block !important;
 }

 .btn-vermas-mobile {
   margin-top: 20px;
   position: static;
   font-size: 4vw;
 }

 .section-grafico .btn-vermas-mobile {
   background-color: #30302f;
   color: #ffffff;
 }

 .section-grafico .btn-vermas-mobile:hover {
   background-color: #d4007f;
   color: #ffffff;
 }

 .fullwidth2 {
   margin-top: 0px;
 }

}

@media screen and (max-width: 500px) {
  .slider-container {
    height: 600px;
    clip-path: circle(400px at 50% 30vw);
  }

  .slide-texts {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #30302f;
    font-family: 'montserrat regular', sans-serif;
    z-index: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  .slide-button-fixed {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    border: none;
    background-color: #30302f;
    color: #fff;
    font-size: 4vw;
    cursor: pointer;
    border-radius: 30px;
    z-index: 3;
    transition: background-color 0.3s;
  }

  .slide-dots {
    bottom: 100px;
  }

  .team-title {
    margin-bottom: 20px;
    padding-top: 100px;
  }

  .team-title h2 {
    padding: 10px 40px;
  }

  .portfolio-section {
  width: 90%;
  margin-top: -60px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-top: 0px;
}

.portfolio-grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-top: 0px;
}

.portfolio-card {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.portfolio-card img {
  border-radius: 10px;
}

.portfolio-card::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
}

.fullwidth .portfolio-card .portfolio-video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.fullwidth {
  margin-top: 0px;
  margin-bottom: 60px;
}

.two-cards {
  width: 90%;
  margin-top: -70px;
}

.two-cards-grid {
  margin-top: 0px;
  grid-template-columns: 1fr;
}

.portfolio-section:not(.fullwidth) .portfolio-card .overlay {
    display: none !important;
  }

  .portfolio-section:not(.fullwidth) .portfolio-card:hover .overlay {
    opacity: 0 !important;
  }

  .portfolio-section:not(.fullwidth) .overlay-text,
  .portfolio-section:not(.fullwidth) .overlay-text h3,
  .portfolio-section:not(.fullwidth) .overlay-text p {
    font-size: 4vw;
    display: none !important;
  }

  .portfolio-section:not(.fullwidth) .portfolio-card::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 5;
  }

.fullwidth .portfolio-card .overlay {
  display: flex !important;
  opacity: 1 !important;
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.fullwidth .overlay-text,
.fullwidth .overlay-text h3,
.fullwidth .overlay-text p {
  font-size: 4vw;
  display: block !important;
}

.btn-vermas {
font-size: 4vw;
}

.fullwidth .btn-vermas {
  display: inline-flex !important;
  position: absolute;
  bottom: 50px;
  z-index: 10;
  font-size: 4vw;
}

.card-title,
 .btn-vermas-mobile {
   display: block !important;
 }

 .btn-vermas-mobile {
   margin-top: 20px;
   position: static;
   font-size: 4vw;
   padding: 10px 20px;
 }

 .section-grafico .btn-vermas-mobile {
   background-color: #30302f;
   color: #ffffff;
 }

 .section-grafico .btn-vermas-mobile:hover {
   background-color: #d4007f;
   color: #ffffff;
 }


  .section-grafico {
    margin-bottom: 50px;
  }

}
