
.slider-container {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 42vw;
  overflow: hidden;
  clip-path: circle(170% at 50% -212%);
  background-color: #f7f7f7;
}

.slider {
  position: fixed;
  width: 100%;
  height: 42vw;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active-slide {
  opacity: 1;
  z-index: 1;
}

.slide img,
.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.slide-texts {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: #000;
  z-index: 2;
}

.slide-text1 {
  font-size: 9vw;
  margin-left: -12.5vw;
  line-height: 1.2;
}

.slide-text2 {
  line-height: 1;
  font-size: 3.55vw;
  margin: 0;
  font-family: 'montserrat extrabold', sans-serif;
}

.slide-text3 {
  font-size: 1.26vw;
  margin-top: 10px;
}

.slide-button-fixed {
  border: 2px solid #000;
  position: absolute;
  bottom: 30%;
  left: 30%;
  transform: translateX(-50%);
  padding: 12px 30px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  border-radius: 30px;
  z-index: 3;
  transition: all 0.3s ease;
}

.slide-button-fixed:hover {
  transform: translateX(-50%) scale(1.05);
  border: 2px solid transparent;
  background-color: #e6007d;
  color: #fff;
}

.team-slide {
  position: relative;
}

.team-slide .slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.team-title {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  padding-top: 3vw;
}

.team-title h2 {
  font-size: clamp(12pt, 1.8vw, 30pt);
  color: #b5b5b5;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 10px 70px;
  display: inline-block;
  margin: 0;
}

.team-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1700px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

.team-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  padding: 0 1vw;
}

.team-photo {
  width: 16vw;
  height: 16vw;
  overflow: hidden;
  margin-bottom: -1vw;
  position: relative;
}

.team-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.team-text {
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.team-name,
.team-email,
.team-position {
  text-align: center;
  line-height: 1.5;
}

.team-email {
  font-size: clamp(10pt, 0.5vw, 20pt);
  color: #e6007d;
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 4vw;
  color: #fff;
  background: #000000;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.arrow:hover {
  background: #e6007d;
  opacity: 1;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.slide-dots {
  position: absolute;
  bottom: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.dot.active-dot {
  background-color: #e6007d;
  transform: scale(1.3);
   opacity: 1;
}

.stats-section {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  box-sizing: border-box;
}

.stats-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat-number {
  font-size: clamp(36pt, 5vw, 80pt);
  color: #000;
  margin-bottom: 0px;
  font-family: 'montserrat extrabold', sans-serif;
  margin-left: -30px;
}

.stat-number::before {
  content: "+";
  font-size: 4vw;
  margin-right: 0px;
  font-family: 'montserrat medium', sans-serif;
}

.stat-title {
  font-size: clamp(12pt, 1.2vw, 30pt);
  color: #727272;
  letter-spacing: 1px;
}

.portfolio-section {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  position: relative;
}

.branding-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 5vw;
}

.branding-title .branding-text {
  color: #e1e1e1;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 7px;
  width: 100%;
}

.portfolio-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 7px;
}

.portfolio-card img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

.overlay-text {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.overlay-text h3 {
  margin: 0;
  font-size: clamp(12pt, 1.5vw, 30pt);
}

.overlay-text p {
  margin-top: 10px;
}

.btn-vermas {
  padding: 12px 30px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
}

.btn-vermas:hover {
  border: 2px solid transparent;
  color: #fff;
  background: #e6007d;
  transform: scale(1.05);
  font-family: 'montserrat medium', sans-serif;
}

.two-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -73px;
}

.two-cards-grid {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.two-cards-grid .portfolio-card img {
  height: 100%;
  object-fit: cover;
}

.portfolio-section.video {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  transition: background-color 0.9s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section.video.bg-dark {
  background-color: #000 !important;
}

.video .portfolio-grid {
  width: 100%;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 100px 0;
}

.video .portfolio-card .portfolio-video {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.portfolio-card video {
  max-height: 500px;
}

.video-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: -60px;;
  font-size: 5vw;
  text-align: center;
}

.video-title .video-text {
  color: #fff;
}

.video-text.moderno {
  border-right-color: #e6007d;
}

.paragraph-video {
  max-width: 70%;
  text-align: center;
  font-size: clamp(12pt, 1.5vw, 30pt);
  color: #fff;
  margin: 0px auto;
  margin-top: 0px;
}

.text-btn {
  font-size: clamp(12pt, 1.5vw, 30pt);
  color: #fff;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
}

.btn-video {
  padding: 12px 30px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn-video:hover {
  color: #fff;
  background: #e6007d;
  font-family: 'montserrat medium', sans-serif;
  border: none;
  transform: translateX(-50%) scale(1.05);
  border: 2px solid transparent;
}

.jobs-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  margin-top: 50px;
  font-size: 5vw;
}

.jobs-title h2.jobs-text {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--title-weight, 400);
}

.paragraph-jobs {
  max-width: 90%;
  text-align: center;
  font-size: clamp(12pt, 1.5vw, 30pt);
  color: #727272;
  margin: 0px auto 20px auto;
}

.jobs {
  width: 90%;
  margin: 60px auto;
  justify-content: center;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.jobs-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.jobs-slider {
  position: relative;
  width: 100%;
}

.jobs-slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s linear 1s;
}

.jobs-slide.active-jobs-slide {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out;
}

.jobs-container {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 85%;
  margin: 50px auto;
}

.jobs-image {
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
}

.jobs-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  z-index: 1;
}

.jobs-image img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: cover;
  display: block;
}

.jobs-content {
  flex: 1;
  text-align: left;
}

.jobs-content h2 {
  color: #000;
  margin: 0px 0px 30px 0px;
  font-size: 3vw;
}

.jobs-content p {
  font-size: clamp(12pt, 1.5vw, 30pt);
  color: #727272;
  margin: 0;
}

.btn-jobs {
  padding: 12px 30px;
  border: 2px solid #727272;
  color: #727272;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  background-color: transparent;
  position: absolute;
  margin: 50px auto;
}

.btn-jobs:hover {
  color: #fff;
  background: #e6007d;
  font-family: 'montserrat medium', sans-serif;
  border: none;
  transform: scale(1.05);
  border: 2px solid transparent;
}

.jobs-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4vw;
  color: #fff;
  background: #000000;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.jobs-arrow:hover {
  background: #e6007d;
  opacity: 1;
}

.jobs-prev {
  left: 2.5%;
}

.jobs-next {
  right: 2.5%;
}

.portfolio-section.packaging {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e6007d;
}

.packaging .portfolio-grid {
  width: 95%;
  grid-template-columns: 1fr;
  gap: 0;
}

.packaging .portfolio-card .portfolio-img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.packaging-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-size: 5vw;
}

.packaging-title .packaging-text {
  color: #fff;
}

.paragraph-packaging {
  max-width: 70%;
  text-align: center;
  font-size: clamp(12pt, 1.5vw, 30pt);
  color: #fff;
  margin: 50px auto;
}

.title-web-cont {
  margin-top: 50px;
  margin-bottom: 150px;
}

.title-web {
  font-size: 3vw;
  color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-right: 3px solid #e6007d;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  min-height: 1.2em;
}

#portafolio {
  scroll-margin-top: 120px;
}

@media screen and (max-width: 890px) {
  .slider-container {
    height: 800px;
    clip-path: circle(800px at 50% 0vw);
  }

  .slider {
    height: 800px;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .arrow {
    display: none;
  }

  .slide-texts {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    z-index: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  .slide-text1 {
    font-size: 26vw;
    margin-left: 0;
    line-height: 1.2;
  }

  .slide-text2 {
    font-size: 7.5vw;
    line-height: 1;
    margin: 0;
  }

  .slide-text3 {
    font-size: 4vw;
    margin-top: 10px;
  }

  .slide-button-fixed {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    font-size: 4vw;
    border-radius: 30px;
  }

  .slide.active-slide:first-child::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
  }
    .team-title {
    padding-top: 180px;
    margin-bottom: 30px;
  }

  .team-title h2 {
    font-size: clamp(12pt, 3vw, 30pt);
  }

  .team-container {
    width: 70%;
    max-width: 1700px;
  }

  .team-column {
    max-width: 0%;
    padding: 0 2vw;
  }

  .team-photo {
    width: 25vw;
    height: 25vw;
  }

  .team-name {
    font-size: 2.5vw;
  }

  .team-email,
  .team-position {
    font-size: 2vw;
    letter-spacing: normal;
  }

  .title-web-cont {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .title-web {
    font-size: 7vw;
  }

  .stats-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    gap: 40px 0;
  }

  .stat {
    width: 50%;
    padding: 0 20px;
  }

  .stat-number {
    font-size: 15vw;
  }

  .stat-title {
    font-size: 4vw;
  }

  .stat-number::before {
    font-size: 15vw;
  }

  .portfolio-section {
    width: 95%;
  }

  .branding-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    margin-top: -15px;
    font-size: 10vw;
   text-align: center;
}

  .portfolio-card {
    border-radius: 6px;
  }

  .portfolio-card img {
    border-radius: 6px;
  }

  .portfolio-section.video {
    width: 100%;
  }

  .overlay {
    display: none;
  }
  .two-cards {
    margin-top: -74px;
  }

  .two-cards-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .btn-vermas {
    font-size: 4vw;
  }

  .video-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-top: -50px;
    font-size: 7vw;
    text-align: center;
}

  .paragraph-video {
    font-size: 4vw;
    max-width: 90%;
    margin-bottom: 30px;
  }

  .text-btn {
    font-size: 5vw;
    margin-top: 30px;
  }

  .btn-video {
    font-size: 4vw;
    margin-top: 50px;
  }

  .jobs-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-top: 50px;
    font-size: 10vw;
    text-align: center;
}

  .paragraph-jobs {
    font-size: 4vw;
    max-width: 90%;
  }

  .jobs {
    margin-top: 50px;
    justify-content: center;
  }

  .jobs-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 95%;
  }

  .jobs-image {
    flex: 1;
    max-width: 50%;
    text-align: center;
  }

  .jobs-content {
    flex: 1;
    text-align: center;
    width: 100%;
  }

  .jobs-content h2 {
    margin: 0px 0px 10px 0px;
    font-size: 7vw;
    text-align: center;
  }

  .jobs-content p {
    font-size: 4vw;
    text-align: center;
  }

  .btn-jobs {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    font-size: 4vw;
  }

  .jobs-arrow {
    top: 25%;
  }

  .jobs-prev {
    left: 5px;
  }

  .jobs-next {
    right: 5px;
  }

  .packaging-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-size: 8.5vw;
    text-align: center;
}

  .paragraph-packaging {
    max-width: 95%;
    font-size: 4vw;
    margin: 20px auto;
  }
}

@media screen and (max-width: 500px) {
  .slider-container {
    height: 600px;
    clip-path: circle(400px at 50% 30vw);
  }

  .slider {
    height: 600px;
  }

  .slide-texts {
    top: 30%;
    width: 90%;
    gap: 1vw;
  }

  .slide-button-fixed {
    bottom: 35%;
    font-size: 4vw;
  }

  .slide-dots {
    bottom: 100px;
  }

    .team-title {
    padding-top: 100px;
    margin-bottom: 20px;
  }

  .team-title h2 {
    padding: 10px 40px;
  }

  .title-web-cont {
    margin-top: 30px;
    margin-bottom: 100px;
  }

    .portfolio-card {
    border-radius: 4px;
  }

  .portfolio-card img {
    border-radius: 4px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .two-cards {
    margin-top: -75px;
  }

  .btn-vermas {
    font-size: 4vw;
  }
}
