.hero {
     position: relative;
     width: 100%;
     height: 30vw;
     overflow: hidden;
     clip-path: circle(200% at 50% -393%);
     margin-top: 60px;
   }

   .hero video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
   }

   .hero-overlay {
     position: absolute;
     inset: 0;
     background-color: rgba(0,0,0,0.5);
   }

   .hero-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     font-size: clamp(12pt, 1vw, 30pt);
     text-align: center;
     z-index: 2;
     width: 90%;
     font-family: 'montserrat regular', sans-serif;
   }

   .hero-text h1 {
     font-family: 'montserrat bold', sans-serif;
   }

   .section-title {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  margin-bottom: 25px;
}

.section-title .dash {
  color: #d4007f;
  margin-right: 10px;
  margin-top: -3px;
  font-size: clamp(18pt, 2vw, 36pt);
  font-family: 'montserrat black', sans-serif;
}

.section-title .title-text {
  color: #30302f;
}


.gallery-section {
  width: 90%;
 margin: 0 auto;
 margin-bottom: 30px;
 margin-top: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.gallery-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'montserrat regular', sans-serif;
  font-size: clamp(12pt, 1vw, 30pt);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
  pointer-events: auto;
}


.overlay-title {
  width: 90%;
  margin: 0 auto;
  line-height: 1;
  font-family: 'montserrat bold', sans-serif;
}

.overlay-text {
  width: 90%;
  margin: 0 auto;
  line-height: 1;
}

.second-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 0px;
}

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  position: relative;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
  max-width: 80%;
  animation: fadeIn 0.3s ease;
  overflow: visible;
}

.modal-content video {
  width: 100%;
  height: auto;
  max-height: 700px;
  display: block;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #d4007f;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.close-btn:hover {
  transition: all 0.3s ease;
  transform: scale(1.50);
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}


   @media screen and (max-width: 890px) {
     .hero {
          height: 400px;
          clip-path: circle(200% at 50% -115vw);
          margin-top: 80px;
        }

        .hero-text {
          margin-top: -45px;
        }

        .hero-text h1{
          font-size: 7vw;
        }

        .hero-text p {
          font-size: 4vw;
        }

        .section-title {
          font-size: 4vw;
        }

        .section-title .dash {
          font-size: 4vw;
        }

        .gallery-section {
         margin-top: 0px;
        }

        .gallery-overlay {
          height: 120px;
          opacity: 100;
        }

        .gallery-grid {
          gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .second-row {
   grid-template-columns: repeat(2, 1fr);
 }
   }

   @media screen and (max-width: 500px) {
     .hero {
          height: 250px;
          clip-path: circle(200% at 50% -110vw);
          margin-top: 80px;
        }

        .hero-text {
          margin-top: -20px;
        }

        .hero-text h1{
          font-size: 7vw;
        }

        .hero-text p {
          font-size: 4vw;
        }
        .section-title {
          font-size: 4vw;
        }

        .section-title .dash {
          font-size: 4vw;
        }

        .gallery-section {
         margin-top: 0px;
        }

        .gallery-overlay {
          height: 120px;
          font-size: 4vw;
          opacity: 100;
        }

        .gallery-grid {
          gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .second-row {
   grid-template-columns: repeat(2, 1fr);
 }
   }
