html{
   scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    position: relative;
      font-weight: 400;
}
.slider-container {
    position: relative;
    width: 100%;
    height: 700px; /* Altura fija */
    overflow: hidden;
    clip-path: circle(170% at 50% -213%); /* Valor máximo */
}

/* Puntos intermedios entre 170% y 130% */
@media (max-width: 1500px) {
    .slider-container {
        clip-path: circle(160% at 50% -175%); /* Ajuste del desplazamiento */
    }
}

@media (max-width: 1400px) {
    .slider-container {
        clip-path: circle(160% at 50% -170%); /* Ajuste del desplazamiento */
    }
}


@media (max-width: 1300px) {
    .slider-container {
        clip-path: circle(160% at 50% -160%); /* Ajuste del desplazamiento */
    }
}

@media (max-width: 1200px) {
    .slider-container {
        clip-path: circle(160% at 50% -150%); /* Ajuste del desplazamiento */
    }
}

@media (max-width: 1100px) {
    .slider-container {
        clip-path: circle(160% at 50% -150%); /* Ajuste del desplazamiento */
    }
}

@media (max-width: 1000px) {
    .slider-container {
        clip-path: circle(160% at 50% -140%); /* Ajuste del desplazamiento */
    }
}

@media (max-width: 900px) {
    .slider-container {
        clip-path: circle(160% at 50% -130%); /* Ajuste */
    }
}

@media (max-width: 800px) {
    .slider-container {
        clip-path: circle(160% at 50% -130%); /* Ajuste */
    }
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 800px) {
    .slider-container {
        clip-path: circle(160% at 50% -125%); /* Ajuste */
    }
}

@media (max-width: 768px) {
    .slider-container {
        clip-path: circle(160% at 50% -122%); /* Valor mínimo */
    }
}

@media (max-width: 650px) {
    .slider-container {
        clip-path: circle(160% at 50% -117%); /* Valor mínimo */
    }
}

@media (max-width: 650px) {
    .slider-container {
        clip-path: circle(160% at 50% -116%); /* Valor mínimo */
    }
}

@media (max-width: 600px) {
    .slider-container {
        clip-path: circle(160% at 50% -115%); /* Valor mínimo */
    }
}

@media (max-width: 550px) {
    .slider-container {
        clip-path: circle(160% at 50% -113%); /* Valor mínimo */
    }
}

@media (max-width: 500px) {
    .slider-container {
        clip-path: circle(160% at 50% -111%); /* Valor mínimo */
    }
}

@media (max-width: 400px) {
    .slider-container {
        clip-path: circle(160% at 50% -110%); /* Valor mínimo */
    }
}

@media (max-width: 300px) {
    .slider-container {
        clip-path: circle(160% at 50% -109%); /* Valor mínimo */
    }
}

@media (max-width: 200px) {
    .slider-container {
        clip-path: circle(160% at 50% -108%); /* Valor mínimo */
    }
}


.slide {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.slide.active-slide {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: auto;
    position: fixed;
}

.slide video {
    width: 100%;
    height: auto;
    position: fixed;
}

.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    padding: 6vh 00vh;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}

.slide-content h2 {
    font-size: 2.5em;
    margin-bottom: 5vh;
    text-align: center;
}

.slide-content p {
    font-size: 1.2em;
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.5;
}

.slide-button-fixed {
    position: fixed;
    top: 46%;
    left: 30%;
    transform: translateX(-50%);
    padding: 0.8% 2%;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 2vh;
    z-index: 1;
}

.slide-button-fixed:hover {
    position: fixed;
    top: 46%;
    left: 30%;
    transform: translateX(-50%);
    padding: 0.8% 2%;
    border: none;
    background-color: #d4007f;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 2vh;
    z-index: 1;
}

h1.tituloslide-fixed1 {
font-weight: 800;
    font-size: 8.0em;
    color: #333;
    position: fixed;
    top: 14%;
    left: 21.9%;
    transform: translateX(-50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
}

.fade-in {
  opacity: 1 !important;
}

h1.tituloslide-fixed2 {
font-weight: 500;
    font-size: 3.6em;
    color: #333;
    position: fixed;
    top: 28%;
    left: 30%;
    transform: translateX(-50%);
}

p.tituloslide-fixed3 {

    font-size: 1.28em;
    color: #333;
    position: fixed;
    top: 37%;
    left: 29.9%;
    transform: translateX(-50%);
}

.slide-dots {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.slide-dots .dot {
    width: 1vh;
    height: 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slide-dots .dot.active-dot {
    background-color: rgba(255, 255, 255, 1);
}


div.todoport{
  padding-left: 2%;
  padding-right: 2%;

}

.contenedor-seccion {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
  box-sizing: border-box;
  padding-left: 3.7%;
}


.secciones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin: 0;
}

.linea-secciones {
  border: none;
  height: 0.5vh;
  background-color: #d6418c;
  width: 2.5vh;
  margin-right: 1.1vh;
  margin-top: 2.55vh;
}

h2.seccion{
  font-weight: 500;
  font-size: 1.3em;
}


  .image-row {
    display: flex;
    justify-content: space-between;
    margin: 0 5.6vh;
    margin-bottom: 2vh;

}

.image-container {
    flex: 1;
    margin: 1vh;
    margin-top: 0vh;
    margin-bottom: -1vh;
    position: relative;
    overflow: hidden;
    border-radius: 1vh;
}

.image-containerizq {
    flex: 1;
    margin-right: 1vh;
    margin-top: 0vh;
    position: relative;
    overflow: hidden;
    border-radius: 1vh;
}

.image-containerder {
    flex: 1;
    margin-left: 1vh;
    margin-top: 0vh;
    position: relative;
    overflow: hidden;
    border-radius: 1vh;
}

.image-container1 {
    flex: 1;
    margin-right: 1vh;
    margin-top: 0vh;
    position: relative;
    overflow: hidden;
    border-radius: 1vh;
}

.image-container2 {
    flex: 1;
    margin-left: 1vh;
    margin-top: 0vh;
    position: relative;
    overflow: hidden;
    border-radius: 1vh;
}
.image-container:last-child {
    margin-right: 1vh;
}

.image-mask {
    position: relative;
    width: 100%;
    padding-top: calc(1350 / 1080 * 100%);
    overflow: hidden;
    border-radius: 1vh;
}

.image-mask img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 1vh;
    transition: transform 0.3s ease;
}

.image-mask2 {
    position: relative;
    width: 100%;
    padding-top: calc(1080 / 1350 * 100%);
    overflow: hidden;
    border-radius: 1vh;
}

.image-mask2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 1.5vh;
    transition: transform 0.3s ease;
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 1vh;
}

.image-overlay .overlay-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.image-overlay .overlay-text {
    font-size: 1.1em;
}

.image-mask:hover .image-overlay {
    opacity: 1;
}

.full-width-image {
    margin: 0 60px 20px;
}

.full-width-image .image-container {

  position: relative;
  overflow: hidden;
  border-radius: 1vh;
}

.full-width-image .image-mask {
    position: relative;
    width: 100%;
    padding-top: calc(400 / 1350 * 100%);
    overflow: hidden;
    border-radius: 1vh;
}

.full-width-image .image-mask img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vh
    transition: transform 0.3s ease;
}

.full-width-image .image-mask video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vh;
    transition: transform 0.3s ease;
}


.full-width-image .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 1vh;
}

.full-width-image .image-overlay .overlay-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.full-width-image .image-overlay .overlay-text {
    font-size: 1.2em;
}

.full-width-image .image-mask:hover .image-overlay {
    opacity: 1;
}

.scroll-trigger {
    opacity: 0;
    transform: translateY(50vh);
    transition: transform 2s ease, opacity 2s ease;
}

.scroll-trigger.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 15px;
}

.image-overlay2 .overlay-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.image-overlay2 .overlay-text {
    font-size: 1.2em;
}

.image-mask2:hover .image-overlay2 {
    opacity: 1;
}

.full-width-image .image-mask2 {
    position: relative;
    width: 100%;
    padding-top: calc(500 / 1350 * 100%);
    overflow: hidden;
    border-radius: 1vh;
}

.full-width-image .image-mask2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vh;
    transition: transform 0.3s ease;
}

.full-width-image .image-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 1vh;
}

.full-width-image .image-overlay2 .overlay-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.full-width-image .image-overlay2 .overlay-text {
    font-size: 1.2em;
}

.image-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 1vh;
}

.image-overlay3 .overlay-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.image-overlay3 .overlay-text {
    font-size: 1.2em;
}

.image-mask3:hover .image-overlay3 {
    opacity: 1;
}

.full-width-image .image-mask3 {
    position: relative;
    width: 100%;
    padding-top: calc(500 / 1200 * 100%);
    overflow: hidden;
    border-radius: 1vh;
}

.full-width-image .image-mask3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vh;
    transition: transform 0.3s ease;
}

.full-width-image .image-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 1vh;
}

.full-width-image .image-overlay3 .overlay-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.full-width-image .image-overlay3 .overlay-text {
    font-size: 1.2em;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -3%;
    top: -10%;
    width: 110%;
    height: 120%;
    overflow: auto;
    backdrop-filter: blur(1vh);
    background-color: rgba(0, 0, 0, 0.8);

}



.modal-content2 {
    background-color: #fefefe;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vh;
    border: 1px solid #888;
    width: 80%;
    max-width: 60vh;
    box-shadow: 0px 0.2vh 1vh rgba(0, 0, 0, 0.2);
    animation: modalopen 0.5s;
    border-radius: 2vh;

}

.modal-content2 img{
    border-radius: 2vh;
}

.close-modal2 {
    color: #aaa;
    float: right;
    margin-top: -2.5%;
    margin-right: -1%;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.close-modal2:hover .close-modal2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalImage1, #modalImage2, #modalImage3, #modalImage4, #modalImage5 {
    width: 100%;
    height: auto;
}
