html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    position: relative;
      font-weight: 400;
}

.topvideo{
  width: 100%;
  position: relative;
  height: 42vw;
  object-fit: cover;
  clip-path: circle(170% at 50% -250%);
}

video.topvideo{
  position: fixed;
  height: 30vw;
  width: 100%;
  z-index: 0;
}

.topvideo-content {
    position: absolute;
    bottom: 16vw;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    padding-bottom: 2vw;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}

.topvideo-content p {
    font-size: 1.2vw;
    max-width: 35vw;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.5;
}


@media (max-width: 600px) {
  .topvideo-content p  {
        font-size: 2vw;
      max-width: 45vw;
    }
}

.total{
  padding-left: 5vw;
  padding-right: 5vw;
margin-top: -15.5vw;

}


.contenedor-seccion {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: ;
  box-sizing: border-box;
  width: 100%;
}

.secciones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6B6B6B;
  text-align: left;
  margin-left: -2.4vw;
}

.linea-secciones {
  border: none;
  height: 0.3vw;
  background-color: #d6418c;
  width: 1.7vw;
  margin-right: 1vw;
  margin-top: 1.7vw;
  margin-left: 2.9vw;
}

@media (max-width: 600px) {
    .linea-secciones {
      height: 0.4vw;
      width: 2.5vw;
      margin-right: 1vw;
      margin-top: 3.4vw;
    }
}

h2.seccion{
  font-weight: 500;
  font-size: 1.3vw;
}


@media (max-width: 600px) {
    h2.seccion {
        font-size: 2.5vw;
    }
}

.image-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0;
  margin-bottom: 1.2vw;
}

.image-container {
  flex: 1 1 calc(25vw - 1.2vw);
  margin: 0.6%;
  margin-top: 0px;
  margin-bottom: 0%;
  position: relative;
  overflow: hidden;
  border-radius: 1vw;
}


@media (max-width: 600px) {
  .image-container{
      flex: 1 1 calc(40vw - 1.2vw);
    }
}

.image-container:last-child {
    margin-right: 0.5vw;
}

.image-mask {
    position: relative;
    width: 100%;
    padding-top: 15vw;
    overflow: hidden;
    border-radius: 1vw;
    margin-bottom: 1.1vw;
}

@media (max-width: 600px) {
  .image-mask {
      padding-top: 22vw;
    }
}

.image-mask img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 1vw;
    transition: transform 0.3s ease;
}

.image-mask2 {
    position: relative;
    height: 100%;
    padding-top: calc(1920 / 1080 * 100%);
    overflow: hidden;
    border-radius: 1vw;
    margin-bottom: 1.1vw;
}


.image-container2 {
  flex: 1 1 calc(15vw - 1.2vw);
  margin: 0.6vw;
  margin-top: 0px;
  margin-bottom: 0.6vw;
  position: relative;
  overflow: hidden;
  border-radius: 1vw;
}

@media (max-width: 600px) {
  .image-container2 {
        flex: 1 1  calc(40vw - 1.2vw);
    }
}

.image-container2:last-child {
    margin-right: 0.5vw;
}

.image-mask2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: auto;
    border-radius: 1vw;
    transition: transform 0.3s ease;
}

.image-overlay {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease;
    border-radius: 0;
}

.image-overlay .overlay-title {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 0%;
    margin-top: 0%;
    letter-spacing: 1;
}


@media (max-width: 600px) {
.image-overlay .overlay-title{
        font-size: 1.5vw;
        letter-spacing: 0;
    }
}

.image-overlay .overlay-text {
    font-size: 0.9vw;
    letter-spacing: 0;
}

@media (max-width: 600px) {
.image-overlay .overlay-text {
        font-size: 1.2vw;
    }
}


.image-mask:hover .image-overlay {
    opacity: 0.5;
}

.image-mask2:hover .image-overlay {
    opacity: 0.5;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: -3%;
    top: -10%;
    width: 110%;
    height: 120%;
    overflow: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
}


.modal-content2 {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2vw;
    border: 1px solid #888;
    width: 80vw;
    max-width: 120vw;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    animation: modalopen 0.5s;
    border-radius: 1.2vw;
}

@media (max-width: 600px) {
.modal-content2 {
        width: 80vw;
          max-width: 90vw;
          left: 48%;
    }
}


.modal-content2 video{
    border-radius: 1.2vw;
}

.close-modal2 {
    color: #aaa;
    float: right;
    margin-top: -1vw;
    margin-right: -0.5vw;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px) {
.close-modal2{
      margin-right: 0vw;
    }
}

.close-modal2:hover .close-modal2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalImage1, #modalImage2, #modalImage3, #modalImage4, #modalImage5 #modalImage6{
    width: 100%;
    height: auto;
}

@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}

@media screen and (max-width: 600px) {
    .modal-content2 {
        width: 100%;
        margin: 10% auto;
    }
}

.modal-content3 {
    background-color: #fefefe;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2vw;
    border: 1px solid #888;
    width: 80vw;
    max-width: 26vw;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    animation: modalopen 0.5s;
    border-radius: 1.2vw;
}


@media (max-width: 600px) {
.modal-content3 {
        width: 80vw;
          max-width: 60vw;
          left: 48%;
    }
}

.modal-content3 video{
    border-radius: 1.2vw;
}


.close-modal3 {
    color: #aaa;
    float: right;
    margin-top: -1vw;
    margin-right: -0.5vw;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px) {
.close-modal3{
      margin-right: 0vw;
    }
}

.close-modal3:hover .close-modal2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
